Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

Label documentation PRs:
  label:
    add:
    - documentation
    remove: []

Label module:core PRs:
  label:
    add:
    - module:core
    remove: []

Label module:oteljava PRs:
  label:
    add:
    - module:oteljava
    remove: []

Label module:sdk PRs:
  label:
    add:
    - module:sdk
    remove: []

Label module:sdk:contrib:aws PRs:
  label:
    add:
    - module:sdk:contrib:aws
    remove: []

Label module:sdk:exporter PRs:
  label:
    add:
    - module:sdk:exporter
    remove: []

Label module:semconv PRs:
  label:
    add:
    - module:semconv
    remove: []

Label metrics PRs:
  label:
    add:
    - metrics
    remove: []

Label trace PRs:
  label:
    add:
    - tracing
    remove: []

deploy: 57e4fb1cebacd4094d80047833385008a3b63636
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk-logs: add `SdkLogs`
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/Metrics.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLogs.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/SdkLogsSuite.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/autoconfigure/LoggerProviderAutoConfigureSuite.scala
Due: Label module:oteljava PRs, Label module:sdk PRs, Label metrics PRs

Wire all logs modules together
  .github/workflows/ci.yml
  build.sbt
  core/all/src/main/scala/org/typelevel/otel4s/Otel4s.scala
  oteljava/all/src/main/scala/org/typelevel/otel4s/oteljava/OtelJava.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  sdk-exporter/all/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/autoconfigure/OtlpExportersAutoConfigure.scala
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/ExportersAutoConfigure.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdkSuite.scala
  sdk/testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/OpenTelemetrySdkTestkit.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:exporter PRs

deploy: 5914079b262fe30d8cf0c4468526e0c3fe180450
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 8d834dab57fbb8274e0a2a29f8f2126036774400
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Enable snapshots
  .github/workflows/ci.yml
  build.sbt
Due: none

unwrap IOLocalContextStorage from SettableContextStorageProvider in testkit
  build.sbt
  oteljava/context-storage-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorage.scala
  oteljava/context-storage-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorageSuite.scala
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorage.scala
Due: Label module:oteljava PRs

run githubWorkflowGenerate
  .github/workflows/ci.yml
Due: none

fix headers
  oteljava/context-storage-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorage.scala
  oteljava/context-storage-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorageSuite.scala
Due: Label module:oteljava PRs

review fixes
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorage.scala
Due: Label module:oteljava PRs

deploy: 1b8555f51ef0bed25378a6fdd581ddc66e749b93
  oteljava/metrics-jvm-runtime.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

doc
  docs/oteljava/testkit.md
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorage.scala
Due: Label documentation PRs, Label module:oteljava PRs

update doc with build-tool select
  docs/oteljava/testkit.md
Due: Label documentation PRs

add link from contex propagation to testkit
  docs/oteljava/tracing-context-propagation.md
Due: Label documentation PRs

Update tracing-context-propagation.md
  docs/oteljava/tracing-context-propagation.md
Due: Label documentation PRs

deploy: 375fe06818feff0bc3e71bbe0c80c1ae3ff67d24
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Update Otel4sAgentVersion to 0.0.4
  build.sbt
Due: none

add fromInMemory on Testkits
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricsTestkit.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
Due: Label module:oteljava PRs, Label metrics PRs, Label trace PRs

add doc
  docs/oteljava/testkit.md
Due: Label documentation PRs

fix documentation
  build.sbt
  docs/oteljava/testkit.md
Due: Label documentation PRs

deploy: eb598f492b5f57aad83dea55bedb932a361588d3
  oteljava/agent.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 3f008276a5ccf37fbe203c8fc1d70eeb1a9613e8
  oteljava/testkit.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

core-logs: add `Logger.Meta`
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LogRecordBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Logger.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerProvider.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerImpl.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLogRecordBuilder.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLogger.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLoggerProvider.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/SdkLogRecordBuilderSuite.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs

`Logger.Meta`: remove `mapK`
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Logger.scala
Due: Label module:core PRs

deploy: 51e0404216a82a081cb62e1df855ff33b0a67c64
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

trace: replace `InstrumentMeta` with a specialized alternative
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanBuilderSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBackendImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBuilderImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/TracerImpl.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracerProvider.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/TracerSharedState.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilderSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/processor/SimpleSpanProcessorSuite.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label trace PRs

metrics: replace `InstrumentMeta` with a `metrics.meta.InstrumentMeta`
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Counter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Gauge.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Histogram.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Meter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/UpDownCounter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/meta/InstrumentMeta.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/CounterSuite.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/HistogramSuite.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/UpDownCounterSuite.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/meta/InstrumentMetaSuite.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanBuilderSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/CounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/GaugeBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/HistogramBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/MeterImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/UpDownCounterBuilderImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBackendImpl.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkCounter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkGauge.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkHistogram.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkMeter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkUpDownCounter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/internal/MeterSharedState.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilderSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/processor/SimpleSpanProcessorSuite.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label metrics PRs, Label trace PRs

Make `IORuntimeMetrics` available on Scala Native
  instrumentation/metrics/js/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
  instrumentation/metrics/js/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  instrumentation/metrics/jvm-native/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
  instrumentation/metrics/jvm-native/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
Due: Label metrics PRs

Update exporter property key from 'otlp' to 'otel'
  docs/sdk/prometheus-exporter.md
Due: Label documentation PRs

Correct disabled TimerHeapConfig in docs
  docs/instrumentation/metrics-cats-effect-io-runtime.md
  instrumentation/metrics/jvm/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
Due: Label documentation PRs, Label metrics PRs

deploy: d928e1c1bb9f9441758c2089c1792a35a69624a8
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 6b8002a54d4caead8ca24ac80f1358e18cc9f079
  instrumentation/metrics-cats-effect-io-runtime.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Metrics SDK: Ignore empty and annotations unit
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusConverter.scala
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusWriter.scala
  sdk-exporter/prometheus/src/test/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusConverterSuite.scala
Due: Label module:sdk:exporter PRs

deploy: ba4bf303b56969848cf092ffa7a002cb391b9c22
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: f66c227532c20e03fd2bb9b217f1280752b8c999
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Suppress false-positive MiMa warning
  build.sbt
Due: none

Make Tracer and SpanBuilder use the same InstrumentMeta
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Logger.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/meta/InstrumentMeta.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/meta/InstrumentMeta.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanBuilderSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBuilderImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/TracerImpl.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracerProvider.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/TracerSharedState.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilderSuite.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label metrics PRs, Label trace PRs

Add trace.meta.InstrumentMetaSuite
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanBuilderSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/meta/InstrumentMetaSuite.scala
Due: Label module:core PRs, Label trace PRs

Move `Logger.Meta` to `logs.meta.InstrumentMeta`
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Logger.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/meta/InstrumentMeta.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/meta/InstrumentMeta.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/meta/InstrumentMetaSuite.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerImpl.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLogger.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLoggerProvider.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label trace PRs

Path conditions:
  Label documentation PRs: any of: ^docs/
  Label module:core PRs: any of: ^core/
  Label module:oteljava PRs: any of: ^oteljava/
  Label module:sdk PRs: any of: ^sdk/
  Label module:sdk:contrib:aws PRs: any of: ^sdk-contrib/aws/
  Label module:sdk:exporter PRs: any of: ^sdk-exporter/
  Label module:semconv PRs: any of: ^semconv/
  Label metrics PRs: any of: /(metrics)/
  Label trace PRs: any of: /(trace)/
