Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

Label documentation PRs:
  label:
    add:
    - documentation
    remove: []

Label module:core PRs:
  label:
    add:
    - module:core
    remove: []

Label module:oteljava PRs:
  label:
    add:
    - module:oteljava
    remove: []

Label module:sdk PRs:
  label:
    add:
    - module:sdk
    remove: []

Label module:sdk:contrib:aws PRs:
  label:
    add:
    - module:sdk:contrib:aws
    remove: []

Label module:sdk:exporter PRs:
  label:
    add:
    - module:sdk:exporter
    remove: []

Label module:semconv PRs:
  label:
    add:
    - module:semconv
    remove: []

Label metrics PRs:
  label:
    add:
    - metrics
    remove: []

Label trace PRs:
  label:
    add:
    - tracing
    remove: []

trace: make SpanBuilder stack safe
  core/trace/src/test/scala/org/typelevel/otel4s/trace/BaseSpanBuilderSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/trace/SpanBuilderSuite.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBuilderImpl.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/trace/SpanBuilderSuite.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label trace PRs

sdk-trace: use `TracerProvider.noop` when span processors aren't configured
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracerProvider.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/processor/BatchSpanProcessor.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracerProviderSuite.scala
Due: Label module:sdk PRs, Label trace PRs

Regenerate semantic conventions
  project/SemanticConventionsGenerator.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AndroidExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AppExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AwsExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CicdExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CloudExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ContainerExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/DbExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/DeploymentExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/DeviceExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/EnduserExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/EventExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/GenAiExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/HttpExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/JvmExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/K8sExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/MessagingExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/NetExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/OtelExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ProcessExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/RpcExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/SystemExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/VcsExperimentalAttributes.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/AzureExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/DbExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/JvmExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/MessagingExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/OtelExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/VcsExperimentalMetrics.scala
  semconv/metrics/stable/src/main/scala/org/typelevel/otel4s/semconv/metrics/DbMetrics.scala
  semconv/metrics/stable/src/test/scala/org/typelevel/otel4s/semconv/metrics/DbMetricsSuite.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/SchemaUrls.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/CodeAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/DbAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/HttpAttributes.scala
Due: Label module:semconv PRs, Label metrics PRs

Properly record multiple values within the same callback
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/BaseMeterSuite.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/aggregation/Aggregator.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/aggregation/LastValueAggregator.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/aggregation/SumAggregator.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/internal/storage/AsynchronousStorage.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/internal/storage/AsynchronousStorageSuite.scala
Due: Label module:core PRs, Label module:sdk PRs, Label metrics PRs

deploy: 87806e74ed100758c8a1f430dd1e730f7554c616
  customization/histogram-custom-buckets/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/metrics.html
  instrumentation/tracing.html
  oteljava/overview.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

sdk: move `LimitedData` to sdk-common
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/BatchSpanProcessorBenchmark.scala
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/MultiSpanProcessorBenchmark.scala
  sdk-exporter/trace/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/SpansProtoEncoderSuite.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracerSuite.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/data/LimitedData.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/data/LimitedDataSuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/scalacheck/Gens.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/EventData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/LinkData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/SpanData.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackendSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilderSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/data/EventDataSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/scalacheck/Gens.scala
Due: Label module:sdk PRs, Label module:sdk:exporter PRs, Label trace PRs

sdk: move `TraceContext` to sdk-common
  build.sbt
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/metrics/SdkMeterSuite.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/context/TraceContext.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/context/TraceContextSuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/scalacheck/Arbitraries.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/scalacheck/Cogens.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/scalacheck/Gens.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkMeterProvider.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkMetrics.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/aggregation/Target.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/ExemplarFilterAutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/MeterProviderAutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/data/ExemplarData.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/Exemplar.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/ExemplarFilter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/ExemplarReservoir.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/ReservoirCell.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/Reservoirs.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/TraceContextLookup.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/aggregation/AggregatorSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/aggregation/ExplicitBucketHistogramAggregatorSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/aggregation/LastValueAggregatorSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/aggregation/SumAggregatorSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/ExemplarFilterAutoConfigureSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/MeterProviderAutoConfigureSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/exemplar/ExemplarFilterSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/exemplar/ExemplarReservoirSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/scalacheck/Arbitraries.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/scalacheck/Cogens.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/scalacheck/Gens.scala
  sdk/testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/OpenTelemetrySdkTestkit.scala
Due: Label module:sdk PRs, Label metrics PRs

deploy: 4f253faea8e59c4e1d98804787bf4b99d181f36e
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 39e705d2750f58c92e63b38e11c7b77e5c2ffbff
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk: move `TraceContext` to sdk-common
  build.sbt
  core/trace/src/test/scala/org/typelevel/otel4s/trace/scalacheck/Gens.scala
  oteljava/trace/src/test/scala/org/typelevel/otel4s/oteljava/trace/SpanContextSuite.scala
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/metrics/SdkMeterSuite.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/context/TraceContext.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/context/TraceContextSuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/data/LimitedDataSuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/scalacheck/Arbitraries.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/scalacheck/Cogens.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/scalacheck/Gens.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkMeterProvider.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkMetrics.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/aggregation/Target.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/ExemplarFilterAutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/MeterProviderAutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/data/ExemplarData.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/Exemplar.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/ExemplarFilter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/ExemplarReservoir.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/ReservoirCell.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/Reservoirs.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/TraceContextLookup.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/aggregation/AggregatorSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/aggregation/ExplicitBucketHistogramAggregatorSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/aggregation/LastValueAggregatorSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/aggregation/SumAggregatorSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/ExemplarFilterAutoConfigureSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/MeterProviderAutoConfigureSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/exemplar/ExemplarFilterSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/exemplar/ExemplarReservoirSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/scalacheck/Arbitraries.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/scalacheck/Cogens.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/scalacheck/Gens.scala
  sdk/testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/OpenTelemetrySdkTestkit.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label metrics PRs, Label trace PRs

Experiment with effectful isEnabled
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/common/src/test/scala/org/typelevel/otel4s/meta/InstrumentMetaSuite.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/CounterMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/GaugeMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/HistogramMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/UpDownCounterMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/CounterMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/GaugeMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/HistogramMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/UpDownCounterMacro.scala
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/SpanBuilderMacro.scala
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/SpanMacro.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanFinalizer.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
Due: Label module:core PRs, Label module:sdk PRs, Label metrics PRs, Label trace PRs

'Fix' tests
  core/trace/src/main/scala-3/org/typelevel/otel4s/trace/SpanBuilderMacro.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanBuilderSuite.scala
Due: Label module:core PRs, Label trace PRs

Cleanup
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
Due: Label module:core PRs, Label trace PRs

Split InstrumentMeta into Dynamic and Static
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/SpanBuilderBenchmark.scala
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/common/src/test/scala/org/typelevel/otel4s/meta/InstrumentMetaSuite.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Counter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Gauge.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Histogram.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/UpDownCounter.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/CounterSuite.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/HistogramSuite.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/UpDownCounterSuite.scala
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/SpanBuilderMacro.scala
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/SpanMacro.scala
  core/trace/src/main/scala-3/org/typelevel/otel4s/trace/SpanBuilderMacro.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanFinalizer.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanBuilderSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/CounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/GaugeBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/HistogramBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/UpDownCounterBuilderImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBackendImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/TracerImpl.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkCounter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkGauge.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkHistogram.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkUpDownCounter.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/processor/SimpleSpanProcessorSuite.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label metrics PRs, Label trace PRs

Reuse InstrumentMeta instances
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/common/src/test/scala/org/typelevel/otel4s/meta/InstrumentMetaSuite.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Meter.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanBuilderSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/CounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/GaugeBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/HistogramBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/MeterImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/UpDownCounterBuilderImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBuilderImpl.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkCounter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkGauge.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkHistogram.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkMeter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkUpDownCounter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/internal/MeterSharedState.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/NoopInstrumentBuilderSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/SdkMeterSuite.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracerProvider.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/TracerSharedState.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilderSuite.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label metrics PRs, Label trace PRs

Cleanup
  core/trace/src/main/scala-3/org/typelevel/otel4s/trace/SpanBuilderMacro.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanBuilderSuite.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/TracerImpl.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label trace PRs

Run scalafmt, scalafix
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/SpanBuilderBenchmark.scala
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
Due: Label module:core PRs, Label module:sdk PRs, Label trace PRs

Intermediate result
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/CounterMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/GaugeMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/HistogramMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/UpDownCounterMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/CounterMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/GaugeMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/HistogramMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/UpDownCounterMacro.scala
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/SpanMacro.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
Due: Label module:core PRs, Label metrics PRs, Label trace PRs

Add InstrumentMeta.Dynamic.from
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/common/src/test/scala/org/typelevel/otel4s/meta/InstrumentMetaSuite.scala
Due: Label module:core PRs

deploy: 64856dc6b091308c23a07a68ebc0ea526bf2a79b
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Define meta as `val` in MappedK instances
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
Due: Label module:core PRs, Label trace PRs

Fix tests
  core/trace/src/test/scala/org/typelevel/otel4s/trace/BaseSpanBuilderSuite.scala
Due: Label module:core PRs, Label trace PRs

deploy: 3da423ad6275b9c68902c686ba7f4f34241e7cca
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Define `meta` as `val` in metric instruments
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/CounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/GaugeBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/HistogramBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/UpDownCounterBuilderImpl.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkCounter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkGauge.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkHistogram.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkUpDownCounter.scala
Due: Label module:oteljava PRs, Label module:sdk PRs, Label metrics PRs

deploy: d4cf0d604cd92464fbe5a3a98acc44077eebad5c
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

unwrap IOLocalContextStorage from SettableContextStorageProvider in testkit
  build.sbt
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorage.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorage.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorageSuite.scala
Due: Label module:oteljava PRs

docs: fix `expoter` -> `exporter`
  docs/sdk/configuration.md
Due: Label documentation PRs

sdk-metrics: flush PeriodicMetricReader upon finalization
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exporter/PeriodicMetricReader.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/exporter/PeriodicMetricReaderSuite.scala
Due: Label module:sdk PRs, Label metrics PRs

deploy: dd61baf9b85ae3292b8e0aef87d92da6a69ea61e
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

add headers
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorage.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorageSuite.scala
Due: Label module:oteljava PRs

deploy: fbd0c3eee8a5a1d749bd298ae6a8ca8e26e4bd53
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

add trackFiberContext to oteljava module
  build.sbt
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/BaseMeterSuite.scala
Due: Label module:core PRs, Label metrics PRs

Rename most `mapK` methods to `liftTo`
  build.sbt
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerProvider.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/BaseTracerSuite.scala
Due: Label module:core PRs, Label trace PRs

deploy: ab90f549181a35e9c595869d94671add0f670847
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 8ea53599b01d5990d4778139d385f16e9a38aeae
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: b16eff6eb4c9ae5604a9ade328e63e85a7611c47
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: cf37b86f33d30a08768fa2e0c04176d69122bcbf
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 2e90464caf57be8ca29bf3b3940b4f0446c9904d
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Path conditions:
  Label documentation PRs: any of: ^docs/
  Label module:core PRs: any of: ^core/
  Label module:oteljava PRs: any of: ^oteljava/
  Label module:sdk PRs: any of: ^sdk/
  Label module:sdk:contrib:aws PRs: any of: ^sdk-contrib/aws/
  Label module:sdk:exporter PRs: any of: ^sdk-exporter/
  Label module:semconv PRs: any of: ^semconv/
  Label metrics PRs: any of: /(metrics)/
  Label trace PRs: any of: /(trace)/
