Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

Label documentation PRs:
  label:
    add:
    - documentation
    remove: []

Label module:core PRs:
  label:
    add:
    - module:core
    remove: []

Label module:oteljava PRs:
  label:
    add:
    - module:oteljava
    remove: []

Label module:sdk PRs:
  label:
    add:
    - module:sdk
    remove: []

Label module:sdk:contrib:aws PRs:
  label:
    add:
    - module:sdk:contrib:aws
    remove: []

Label module:sdk:exporter PRs:
  label:
    add:
    - module:sdk:exporter
    remove: []

Label module:semconv PRs:
  label:
    add:
    - module:semconv
    remove: []

Label metrics PRs:
  label:
    add:
    - metrics
    remove: []

Label trace PRs:
  label:
    add:
    - tracing
    remove: []

core-trace: make `SpanFinalizer` inner classes private and add tests
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanFinalizer.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanFinalizerSuite.scala
Due: Label module:core PRs, Label trace PRs

core-trace: add `withCurrentSpan` utility to `Tracer`
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/BaseTracerSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/TracerImpl.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label trace PRs

docs: add semantic conventions documentation
  build.sbt
  docs/instrumentation/directory.conf
  docs/instrumentation/semantic-conventions.md
Due: Label documentation PRs

core-trace: rename `withCurrentSpan` to `withCurrentSpanOrNoop` in `Tracer`
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/BaseTracerSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/TracerImpl.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label trace PRs

deploy: dd1af52845d539787eefc56813ffb4c78b4b14e8
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Move `IORuntimeMetricsSuite` from `jvm-native` to `jvm` package
  instrumentation/metrics/jvm/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
Due: Label metrics PRs

Update Scala Native to 0.5.9
  project/plugins.sbt
Due: none

Replace `localForIOLocal` with `ioLocal.asLocal[F]`
  core/common/src/main/scala/org/typelevel/otel4s/context/LocalProvider.scala
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorage.scala
Due: Label module:core PRs, Label module:oteljava PRs

Update munit to 1.2.0
  build.sbt
  core/common/src/test/scala/org/typelevel/otel4s/context/propagation/TextMapGetterProps.scala
Due: Label module:core PRs

Move `IORuntimeMetricsSuite` test to the correct `jvm` test directory
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
Due: Label metrics PRs

Make `IORuntimeMetrics` available on Scala Native
  instrumentation/metrics/js/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
  instrumentation/metrics/jvm-native/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
  instrumentation/metrics/jvm-native/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
Due: Label metrics PRs

Align dependencies with Scala.js version
  build.sbt
Due: none

Remove unused `sonatypeCentralSnapshots` resolver from build file
  build.sbt
Due: none

Update Platform to 1.0.3
  build.sbt
  core/common/src/test/scala/org/typelevel/otel4s/context/propagation/TextMapGetterProps.scala
Due: Label module:core PRs

Update Scala Native to 0.5.10
  project/plugins.sbt
Due: none

Bump `tlBaseVersion` to 0.16
  build.sbt
Due: none

Enable snapshot
  .github/workflows/ci.yml
  build.sbt
Due: none

Added Dash0 example
  docs/examples/dash0/README.md
  docs/examples/directory.conf
Due: Label documentation PRs

deploy: 9201125b97cdbb62806ed4782e54857c1246135b
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

semconv: add schema URLs for versions 1.38.0 and 1.39.0, update current schema to 1.39.0
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/SchemaUrls.scala
Due: Label module:semconv PRs

Support complex attributes
  build.sbt
  core/common/src/main/scala/org/typelevel/otel4s/AttributeKey.scala
  core/common/src/main/scala/org/typelevel/otel4s/AttributeType.scala
  core/common/src/test/scala/org/typelevel/otel4s/scalacheck/Cogens.scala
  core/common/src/test/scala/org/typelevel/otel4s/scalacheck/Gens.scala
  docs/tracing-context-propagation.md
  examples/src/main/scala/PekkoHttpExample.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/trace/TracerSuite.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/AnyValueConverters.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/AttributeConverters.scala
  oteljava/common/src/test/scala/org/typelevel/otel4s/oteljava/AnyValueConvertersSuite.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  oteljava/logs/src/test/scala/org/typelevel/otel4s/oteljava/logs/LogsSuite.scala
Due: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label trace PRs

deploy: e95bf8fe910eba923d3041f2bf1b347c4c1df34e
  customization/histogram-custom-buckets/index.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/logs.html
  instrumentation/metrics.html
  instrumentation/tracing.html
  oteljava/agent.html
  oteljava/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs

Set `tlSiteApiPackage` to `org.typelevel.otel4s` in build configuration
  build.sbt
Due: none

deploy: 07afacb082810ee7f6560ce88e58cfba322e8d91
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Add `isRecording` method to `Span`
  build.sbt
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanFinalizerSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanSuite.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBackendImpl.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label trace PRs

docs: use RuntimeMetrics in Java 8 example
  docs/oteljava/metrics-jvm-runtime.md
  examples/src/main/scala/PekkoHttpExample.scala
Due: Label documentation PRs

deploy: a544f78c4195268faf09bd843100a608ff8ea487
  oteljava/metrics-jvm-runtime.html
Due: Label module:oteljava PRs

Generate semantic conventions using 1.40.0 schema
  buildscripts/semantic-convention/templates/registry/otel4s/metrics/SemanticMetrics.scala.j2
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/DbExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ErrorExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ExceptionExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/FeatureFlagExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/GcpExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/GenAiExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/HttpExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/K8sExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/MessageExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/OpenaiExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/OracleCloudExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/OracleExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/PprofExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/RpcExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ServiceExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/UrlExperimentalAttributes.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/DbExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/HttpExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/JvmExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/K8sExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/McpExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/OtelExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/RpcExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/SystemExperimentalMetrics.scala
  semconv/metrics/stable/src/main/scala/org/typelevel/otel4s/semconv/Stability.scala
  semconv/metrics/stable/src/main/scala/org/typelevel/otel4s/semconv/metrics/DbMetrics.scala
  semconv/metrics/stable/src/main/scala/org/typelevel/otel4s/semconv/metrics/HttpMetrics.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/SchemaUrls.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/DbAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/ExceptionAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/HttpAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/ServiceAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/UrlAttributes.scala
Due: Label module:semconv PRs, Label metrics PRs

docs: explain how to trace fs2.Stream
  docs/instrumentation/tracing.md
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/trace/TracerSuite.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label trace PRs

Use ExplicitBucketHistogramOptions
  docs/customization/histogram-custom-buckets/README.md
  examples/src/main/scala/HistogramBucketsExample.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Fix test
  core/trace/src/test/scala/org/typelevel/otel4s/trace/BaseTracerSuite.scala
Due: Label module:core PRs, Label trace PRs

deploy: 4e4d6f46cfaa809d8eaf7484ceb197f7a051ceb2
  customization/histogram-custom-buckets/index.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/logs.html
  instrumentation/metrics.html
  instrumentation/tracing.html
  oteljava/agent.html
  oteljava/overview.html
Due: Label module:oteljava PRs

core-trace: TraceFlags - support randomness flag
  build.sbt
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanContext.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TraceFlags.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TraceFlagsSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/scalacheck/Gens.scala
  oteljava/trace/src/test/scala/org/typelevel/otel4s/oteljava/trace/SpanContextSuite.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label trace PRs

core-common: improve ergonomics of the attribute API
  core/common/src/main/scala-2/org/typelevel/otel4s/AttributesScalaVersionCompanion.scala
  core/common/src/main/scala-3/org/typelevel/otel4s/AttributesScalaVersionCompanion.scala
  core/common/src/main/scala/org/typelevel/otel4s/Attributes.scala
  core/common/src/test/scala-3/org/typelevel/otel4s/AttributesSuite.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/CounterMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/GaugeMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/HistogramMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/UpDownCounterMacro.scala
  core/metrics/src/test/scala-3/org/typelevel/otel4s/metrics/MetricsMacroSuite.scala
  core/trace/src/main/scala-3/org/typelevel/otel4s/trace/SpanBuilderMacro.scala
  core/trace/src/main/scala-3/org/typelevel/otel4s/trace/SpanMacro.scala
  core/trace/src/main/scala-3/org/typelevel/otel4s/trace/TracerMacro.scala
  core/trace/src/test/scala-3/org/typelevel/otel4s/trace/SpanMacroSuite.scala
  core/trace/src/test/scala-3/org/typelevel/otel4s/trace/TracerMacroSuite.scala
Due: Label module:core PRs, Label metrics PRs, Label trace PRs

core-logs: add `withException` to the `LogRecordBuilder`
  build.sbt
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LogRecordBuilder.scala
  docs/instrumentation/logs.md
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  oteljava/logs/src/test/scala/org/typelevel/otel4s/oteljava/logs/LogsSuite.scala
Due: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs

deploy: 98619f2d14b859ec66ae0ca00ed3619e43979fd8
  instrumentation/logs.html
Due: none

Path conditions:
  Label documentation PRs: any of: ^docs/
  Label module:core PRs: any of: ^core/
  Label module:oteljava PRs: any of: ^oteljava/
  Label module:sdk PRs: any of: ^sdk/
  Label module:sdk:contrib:aws PRs: any of: ^sdk-contrib/aws/
  Label module:sdk:exporter PRs: any of: ^sdk-exporter/
  Label module:semconv PRs: any of: ^semconv/
  Label metrics PRs: any of: /(metrics)/
  Label trace PRs: any of: /(trace)/
