Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: Label documentation PRs
  conditions:
  - files~=^docs/
  actions:
    label:
      add:
      - documentation
      remove: []
- name: Label module:core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - module:core
      remove: []
- name: Label module:oteljava PRs
  conditions:
  - files~=^oteljava/
  actions:
    label:
      add:
      - module:oteljava
      remove: []
- name: Label module:sdk PRs
  conditions:
  - files~=^sdk/
  actions:
    label:
      add:
      - module:sdk
      remove: []
- name: Label module:sdk:contrib:aws PRs
  conditions:
  - files~=^sdk-contrib/aws/
  actions:
    label:
      add:
      - module:sdk:contrib:aws
      remove: []
- name: Label module:sdk:exporter PRs
  conditions:
  - files~=^sdk-exporter/
  actions:
    label:
      add:
      - module:sdk:exporter
      remove: []
- name: Label module:semconv PRs
  conditions:
  - files~=^semconv/
  actions:
    label:
      add:
      - module:semconv
      remove: []
- name: Label metrics PRs
  conditions:
  - files~=/(metrics)/
  actions:
    label:
      add:
      - metrics
      remove: []
- name: Label trace PRs
  conditions:
  - files~=/(trace)/
  actions:
    label:
      add:
      - tracing
      remove: []
- name: Label Scala Steward PRs
  conditions:
  - author=typelevel-steward[bot]
  actions:
    label:
      add:
      - dependencies
      remove: []

sdk-logs: add `LogRecordExporter`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/exporter/LogRecordExporter.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/exporter/InMemoryLogRecordExporter.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/exporter/LogRecordExporterSuite.scala
Due: Label module:sdk PRs

deploy: 533b49a1368c2ceeaf17b259fc95caf3a12df14a
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk-exporter-logs: add `LogsProtoEncoder`
  .github/workflows/ci.yml
  build.sbt
  core/common/src/test/scala/org/typelevel/otel4s/scalacheck/Gens.scala
  sdk-exporter/logs/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/LogsProtoEncoder.scala
  sdk-exporter/logs/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/LogsJsonCodecs.scala
  sdk-exporter/logs/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/LogsProtoEncoderSuite.scala
Due: Label module:core PRs, Label module:sdk:exporter PRs

sdk-logs: add `LogRecordProcessor`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/LogRecordRef.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/processor/LogRecordProcessor.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/processor/LogRecordProcessorSuite.scala
Due: Label module:sdk PRs

deploy: eab3f9a431c6214ca2055d75b36f858861122929
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk-logs: add `LogRecordLimitsAutoConfigure`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/autoconfigure/LogRecordLimitsAutoConfigure.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/autoconfigure/LogRecordLimitsAutoConfigureSuite.scala
Due: Label module:sdk PRs

deploy: 0727cb838da40e0587e5d3e5e232c89bd4506320
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 88a1f3d1e8d65818d20592b40cc86ad9b565885e
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: ace8275013038f83f0d338f2b6f17a110095e990
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Add `otel4s-oteljava-logs` module
  build.sbt
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerBuilderImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerProviderImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/Logs.scala
Due: Label module:oteljava PRs

AnyValue: rename `ListValue` -> `SeqValue`
  core/common/src/main/scala/org/typelevel/otel4s/AnyValue.scala
  core/common/src/test/scala/org/typelevel/otel4s/AnyValueSuite.scala
  core/common/src/test/scala/org/typelevel/otel4s/scalacheck/Cogens.scala
  core/common/src/test/scala/org/typelevel/otel4s/scalacheck/Gens.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  oteljava/logs/src/test/scala/org/typelevel/otel4s/oteljava/logs/LogsSuite.scala
Due: Label module:core PRs, Label module:oteljava PRs

Explain why `Logs.fromJOpenTelemetry` uses a const context
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/Logs.scala
Due: Label module:oteljava PRs

Remove unnecessary .toList
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  oteljava/logs/src/test/scala/org/typelevel/otel4s/oteljava/logs/LogsSuite.scala
Due: Label module:oteljava PRs

Fix AnyValue -> JValue converter, add tests
  build.sbt
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  oteljava/logs/src/test/scala/org/typelevel/otel4s/oteljava/logs/LogsSuite.scala
Due: Label module:oteljava PRs

Generate github workflow
  .github/workflows/ci.yml
Due: none

Fix compilation issues
  sdk-exporter/logs/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/LogsProtoEncoder.scala
  sdk-exporter/logs/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/LogsJsonCodecs.scala
  sdk-exporter/logs/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/LogsProtoEncoderSuite.scala
Due: Label module:sdk:exporter PRs

Fix compilation issues
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LogRecordBuilder.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerBuilderImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerProviderImpl.scala
Due: Label module:core PRs, Label module:oteljava PRs

deploy: eb1ffa2c7ec35582155924c3bb376ef0096f315a
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: cc4f6cdf7b7c0d513a5c518f4cf5498f3296d84c
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 4ed7e49afafc04944a8113f57dbbc27dff32fa20
  customization/histogram-custom-buckets/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/metrics.html
  instrumentation/tracing.html
  oteljava/agent.html
  oteljava/overview.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

sdk-logs: add `ConsoleLogRecordExporter`
  build.sbt
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/exporter/ConsoleLogRecordExporter.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/exporter/ConsoleLogRecordExporterSuite.scala
Due: Label module:sdk PRs

sdk-exporter-logs: add `OtlpLogRecordExporter`
  build.sbt
  sdk-exporter/common/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/autoconfigure/OtlpClientAutoConfigure.scala
  sdk-exporter/logs/docker/config/otel-collector-config.yaml
  sdk-exporter/logs/docker/docker-compose.yml
  sdk-exporter/logs/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/OtlpLogRecordExporter.scala
  sdk-exporter/logs/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/autoconfigure/OtlpLogRecordExporterAutoConfigure.scala
  sdk-exporter/logs/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/OtlpLogRecordExporterSuite.scala
  sdk-exporter/logs/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/autoconfigure/OtlpLogRecordExportersAutoConfigureSuite.scala
  sdk-exporter/metrics/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/metrics/OtlpMetricExporterSuite.scala
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusWriter.scala
Due: Label module:sdk:exporter PRs, Label metrics PRs

otel-java-logs-test: add `LogsTestkit`
  .github/workflows/ci.yml
  build.sbt
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/FromLogRecordData.scala
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
Due: Label module:oteljava PRs

deploy: d337bd6603dfde7fbb0f38c7269f7a5c9faaef91
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: b428e10150cf7dd5cbba590f90b8dc36fc42ac52
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk-logs: Add `BatchLogRecordProcessor`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/processor/BatchLogRecordProcessor.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/processor/BatchLogRecordProcessorSuite.scala
Due: Label module:sdk PRs

sdk-logs: Evaluate multiple processors sequentially
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/processor/LogRecordProcessor.scala
Due: Label module:sdk PRs

sdk-logs: Add `SimpleLogRecordProcessor`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/processor/SimpleLogRecordProcessor.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/processor/SimpleLogRecordProcessorSuite.scala
Due: Label module:sdk PRs

deploy: caf31d897779edcc9859b7a14348c789c4d2a3e0
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk-logs: Add `SdkLogRecordBuilder`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLogRecordBuilder.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/SdkLogRecordBuilderSuite.scala
Due: Label module:sdk PRs

sdk-logs: Add `LogRecordExportersAutoConfigure`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/autoconfigure/LogRecordExportersAutoConfigure.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/autoconfigure/LogRecordExportersAutoConfigureSuite.scala
Due: Label module:sdk PRs

deploy: 3f186ea43df218974beb7dd80223ede0fa1376f8
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk-logs: Add `SdkLoggerProvider`, `SdkLoggerBuilder`, and `SdkLogger`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLogger.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLoggerBuilder.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLoggerProvider.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/SdkLoggerProviderSuite.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/processor/BatchLogRecordProcessorSuite.scala
Due: Label module:sdk PRs

deploy: 8898414e85db7bf1b854d31f21faf638cf420982
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk-logs-testkit: Add `LogsTestkit`
  .github/workflows/ci.yml
  build.sbt
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/Logs.scala
  sdk/logs-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/logs/InMemoryLogRecordExporter.scala
  sdk/logs-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/logs/LogsTestkit.scala
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 12aef6dd65e2bf4a86cb8189449080e6b0f0f2c3
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk-logs: add `BatchLogRecordProcessorAutoConfigure`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/autoconfigure/BatchLogRecordProcessorAutoConfigure.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/autoconfigure/BatchLogRecordProcessorAutoConfigureSuite.scala
Due: Label module:sdk PRs

docs: add logs module configuration details
  docs/sdk/configuration.md
Due: Label documentation PRs

deploy: 75f8a6814a0e7f59111d35f47f0acfdbecd81b3f
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk-logs: add `LoggerProviderAutoConfigurer`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/autoconfigure/LoggerProviderAutoConfigure.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/autoconfigure/LoggerProviderAutoConfigureSuite.scala
Due: Label module:sdk PRs
