Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: Label documentation PRs
  conditions:
  - files~=^docs/
  actions:
    label:
      add:
      - documentation
      remove: []
- name: Label module:core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - module:core
      remove: []
- name: Label module:oteljava PRs
  conditions:
  - files~=^oteljava/
  actions:
    label:
      add:
      - module:oteljava
      remove: []
- name: Label module:sdk PRs
  conditions:
  - files~=^sdk/
  actions:
    label:
      add:
      - module:sdk
      remove: []
- name: Label module:sdk:contrib:aws PRs
  conditions:
  - files~=^sdk-contrib/aws/
  actions:
    label:
      add:
      - module:sdk:contrib:aws
      remove: []
- name: Label module:sdk:exporter PRs
  conditions:
  - files~=^sdk-exporter/
  actions:
    label:
      add:
      - module:sdk:exporter
      remove: []
- name: Label module:semconv PRs
  conditions:
  - files~=^semconv/
  actions:
    label:
      add:
      - module:semconv
      remove: []
- name: Label metrics PRs
  conditions:
  - files~=/(metrics)/
  actions:
    label:
      add:
      - metrics
      remove: []
- name: Label trace PRs
  conditions:
  - files~=/(trace)/
  actions:
    label:
      add:
      - tracing
      remove: []
- name: Label Scala Steward PRs
  conditions:
  - author=typelevel-steward[bot]
  actions:
    label:
      add:
      - dependencies
      remove: []

Regenerate semantic conventions
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ArtifactExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AwsExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AzureExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CassandraExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CicdExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CloudExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CodeExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ContainerExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/DbExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ElasticsearchExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ExceptionExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/FaasExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/GenAiExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/GeoExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/K8sExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/NetworkExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ProcessExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ProfileExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/RpcExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/SecurityRuleExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/SystemExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/VcsExperimentalAttributes.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/AzureExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/CicdExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/DbExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/GenAiExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/HwExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/K8sExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/SystemExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/VcsExperimentalMetrics.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/ExceptionAttributes.scala
Due: Label module:semconv PRs, Label metrics PRs

deploy: 779b6813586d27c45eca413b4b608d9a9b13054e
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk trace: remove `exception.escaped` attribute
  buildscripts/semantic-convention/templates/registry/otel4s/attributes/weaver.yaml
  buildscripts/semantic-convention/templates/registry/otel4s/metrics-tests/weaver.yaml
  buildscripts/semantic-convention/templates/registry/otel4s/metrics/weaver.yaml
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracerSuite.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/EventData.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackendSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/data/EventDataSuite.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ExceptionExperimentalAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/ExceptionAttributes.scala
Due: Label module:sdk PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

core-common: add `Attribute.Make`
  core/common/src/main/scala/org/typelevel/otel4s/Attribute.scala
  core/common/src/test/scala/org/typelevel/otel4s/AttributeSuite.scala
Due: Label module:core PRs

docs: update resource documentation
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  docs/instrumentation/tracing.md
Due: Label documentation PRs, Label module:core PRs, Label trace PRs

deploy: 13d54c135dab9acd8c7a42d443c8365ee3a6b43f
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 35958231f9747cf99b0d00f42397183f403221be
  instrumentation/tracing.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 31e86240491d3f36842d84f7157ff8a68026830e
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Add implicit `Attribute.From` instances
  core/common/src/main/scala/org/typelevel/otel4s/Attribute.scala
  core/common/src/test/scala/org/typelevel/otel4s/AttributeSuite.scala
Due: Label module:core PRs

deploy: 2fd58315bc39ad837893da0395113ff669ad465b
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: af00892348b38a66fb84db814413d1616e320192
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: e3d048419f1cfee58907aee96b00fc40e1d04d61
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: dc74dd4d425c7540d87e7d696f4040b6dd45ad68
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

fix compilation issue
  instrumentation/metrics/jvm/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
Due: Label metrics PRs

deploy: 93305c6a14b695e3770a218f951cb52ac288b14f
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 4a0d174f926617195fb04228b5027025816379cc
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 7c3ee96280efd627f066f2aa20e8243fe5296311
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: af6a8bd997543d6f11963a548239735e8df880b2
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: b8fe0df22ae8abc8a36c377f0c7385dcd9d2486b
  customization/histogram-custom-buckets/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/metrics.html
  instrumentation/tracing.html
  oteljava/overview.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Allow instrumentation via OTeL Java Agent
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorage.scala
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorageProvider.scala
Due: Label module:oteljava PRs

deploy: 5ff7d79bd8e59f009bf6c470ec983ea736caea6b
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 226089e737abf8cae52cd3eb1a0643da6d998cff
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

instrumentation-metrics: fix poller metrics
  instrumentation/metrics/jvm/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
Due: Label metrics PRs

deploy: b8ee68be3bdbeeec2c05728ac2256a4b96aa8f4c
  instrumentation/metrics-cats-effect-io-runtime.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: ae2b5f20ed91d29309965bd3f60bb463a61c1677
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 594844e00b4eaefba8d30f2799676fc5a27baddd
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: aaefd0c31c59c380d60ece4ce2e365da4c50127e
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

oteljava-context-storage: update agent instrumentation direction
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorage.scala
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorageProvider.scala
Due: Label module:oteljava PRs

Update oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorage.scala
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorage.scala
Due: Label module:oteljava PRs

deploy: 25648b22a967ea28c14a1172cda797146a592a2b
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 889a7d4ab85ad6a43f2a4aa3690490eb089edcd9
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Remove redundant settings from build.sbt
  build.sbt
Due: none

deploy: 2a27e29207dafc55886a111b7e05c50672693649
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 5ffb78f84a42bf3cd0a2fc9f99f7a71645ad6996
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: db017c593fde3605ed859a549f2bdfcb378b3b32
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Generate semantic conventions
  .scala-steward.conf
  build.sbt
  buildscripts/semantic-convention/templates/registry/otel4s/metrics/SemanticMetrics.scala.j2
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AndroidExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AppExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CicdExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CloudExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CodeExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CpuExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CpythonExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/DbExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/DeviceExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/EnduserExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ErrorExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/FeatureFlagExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/GcpExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/GenAiExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/K8sExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/OtelExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ProcessExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ProfileExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/RpcExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/SystemExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/TlsExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/UrlExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/UserAgentExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/VcsExperimentalAttributes.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/AzureExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/CpuExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/CpythonExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/DbExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/HwExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/K8sExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/OtelExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/ProcessExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/SystemExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/V8jsExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/VcsExperimentalMetrics.scala
Due: Label module:semconv PRs, Label metrics PRs

Exclude problematic (case-sensitive) metrics
  buildscripts/semantic-convention/templates/registry/otel4s/metrics/SemanticMetrics.scala.j2
  buildscripts/semantic-convention/templates/registry/otel4s/metrics/weaver.yaml
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/K8sExperimentalMetrics.scala
Due: Label module:semconv PRs, Label metrics PRs

Add missing schemas
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/SchemaUrls.scala
Due: Label module:semconv PRs

deploy: 0cf0fb3e68c188332f5cd80d704fe176a4f3e092
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs
