Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

Label documentation PRs:
  label:
    add:
    - documentation
    remove: []

Label module:core PRs:
  label:
    add:
    - module:core
    remove: []

Label module:oteljava PRs:
  label:
    add:
    - module:oteljava
    remove: []

Label module:sdk PRs:
  label:
    add:
    - module:sdk
    remove: []

Label module:sdk:contrib:aws PRs:
  label:
    add:
    - module:sdk:contrib:aws
    remove: []

Label module:sdk:exporter PRs:
  label:
    add:
    - module:sdk:exporter
    remove: []

Label module:semconv PRs:
  label:
    add:
    - module:semconv
    remove: []

Label metrics PRs:
  label:
    add:
    - metrics
    remove: []

Label trace PRs:
  label:
    add:
    - tracing
    remove: []

Overload API to enforce correct result type
  docs/oteljava/testkit-metrics.md
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

PointExpectation: reorder elements
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

MetricExpectation: add PointMatchMode
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Add PointSetExpectation
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Add NumericPointData to PointExpectation
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

deploy: f86b61bcca95edf5cb54fe0470c3c697803c2a71
  instrumentation/semantic-conventions.html
  oteljava/testkit.html
Due: Label module:oteljava PRs

Deprecate old `collectMetrics`
  docs/instrumentation/metrics-cats-effect-io-runtime.md
  docs/oteljava/testkit-metrics.md
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/MeterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricsTestkit.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Update docs
  docs/instrumentation/semantic-conventions.md
Due: Label documentation PRs

Make Mismatch subtypes private
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Refactor matching logic to improve handling of candidates and ensure completeness
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Drop `with` prefix
  docs/oteljava/testkit-metrics.md
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Update docs and add a test for non-consuming `exists` constraints
  docs/oteljava/testkit-metrics.md
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Run scalafmt and scalafix
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/ExpectationChecks.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Update docs and add support for `checkAllDistinct`
  docs/oteljava/testkit-metrics.md
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Fix scaladoc warnings
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Introduce `withClue` support for enhanced mismatch context in `PointSetExpectation`
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Cleanup
  docs/oteljava/testkit-metrics.md
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Refactor predicate checks for metric expectations
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Fix Scala 3 compilation warning
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Fix Scala 3 compiler warnings
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Prioritize same-type metrics in closest mismatch selection
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Update docs
  docs/instrumentation/semantic-conventions.md
  docs/oteljava/testkit-metrics.md
Due: Label documentation PRs

Run scalafix
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Update docs
  docs/oteljava/testkit-metrics.md
Due: Label documentation PRs

Refactor matching logic for metric expectations
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Merge upstream, resolve conflicts
  docs/instrumentation/metrics-cats-effect-io-runtime.md
  docs/instrumentation/semantic-conventions.md
  docs/oteljava/testkit-metrics.md
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/MeterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricsTestkit.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

deploy: 8b83d23d1af2d4a780a5710e2477fc8ecb5f106f
  instrumentation/tracing.html
Due: none

Replace metric projection models with expectations (#1207)
  build.sbt
  docs/instrumentation/semantic-conventions.md
  docs/oteljava/directory.conf
  docs/oteljava/testkit-metrics.md
  docs/oteljava/testkit.md
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/ExpectationChecks.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/NumberComparison.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

deploy: c957a188c84a5eb374920435a898f19581f03649
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit-metrics.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

common-testkit: add shared utilities
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/CollectionExpectationChecks.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/FlatExpectationMatching.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/LogicalOperator.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/MaximumMatching.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/CollectionExpectationChecksSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/FlatExpectationMatchingSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/MaximumMatchingSuite.scala
Due: Label module:oteljava PRs

metrics-testkit: use shared utilities
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

trace-testkit: add expectations for trace components
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/EventExpectation.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/EventSetExpectation.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/LinkExpectation.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/LinkSetExpectation.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/SpanContextExpectation.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/SpanExpectation.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/SpanExpectations.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/StatusExpectation.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/trace/EventExpectationSuite.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/trace/EventSetExpectationSuite.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/trace/LinkExpectationSuite.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/trace/LinkSetExpectationSuite.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/trace/SpanContextExpectationSuite.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/trace/SpanExpectationSuite.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/trace/SpanExpectationsSuite.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/trace/StatusExpectationSuite.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/trace/TraceExpectationSupport.scala
Due: Label module:oteljava PRs, Label trace PRs

trace-testkit: add trace and trace forest expectations
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/OrderMode.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TraceExpectation.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TraceExpectations.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TraceForestExpectation.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/trace/TraceExpectationsSuite.scala
Due: Label module:oteljava PRs, Label trace PRs

logs-testkit: add log record expectations
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogRecordExpectation.scala
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogRecordExpectations.scala
  oteljava/logs-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogExpectationSupport.scala
  oteljava/logs-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogRecordExpectationSuite.scala
  oteljava/logs-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogRecordExpectationsSuite.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/SeverityConversions.scala
Due: Label module:oteljava PRs

docs: add traces and logs testkit guides
  docs/oteljava/directory.conf
  docs/oteljava/testkit-logs.md
  docs/oteljava/testkit-metrics.md
  docs/oteljava/testkit-traces.md
  docs/oteljava/testkit.md
Due: Label documentation PRs

oteljava-testkit: Bring back deleted models/API and deprecate them
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScope.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResource.scala
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/FromLogRecordData.scala
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/FromMetricData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricsTestkit.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/HistogramPointData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/Metric.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/MetricData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/PointData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/QuantileData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/SummaryPointData.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/FromSpanData.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
Due: Label module:oteljava PRs, Label metrics PRs, Label trace PRs

deploy: d603852852e6471245c8ba4ce36fe0f3f5761beb
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit-logs.html
  oteljava/testkit-metrics.html
  oteljava/testkit-traces.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: e166634652b489d9019b73018e148fc7eb9005c9
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit-logs.html
  oteljava/testkit-metrics.html
  oteljava/testkit-traces.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Update semantic conventions to 1.41.0
  build.sbt
  buildscripts/semantic-convention/templates/registry/otel4s/metrics/weaver.yaml
  project/SemanticConventionsGenerator.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AwsExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CicdExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ContainerExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ErrorExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ExceptionExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/GenAiExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/GoExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/GraphqlExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/HwExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/K8sExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/OtelExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ServiceExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/SystemExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/TelemetryExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/V8jsExperimentalAttributes.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/CicdExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/GenAiExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/HwExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/K8sExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/McpExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/MessagingExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/NfsExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/NodejsExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/OtelExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/ProcessExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/SystemExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/V8jsExperimentalMetrics.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/SchemaUrls.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/DeploymentAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/ErrorAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/ExceptionAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/OtelAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/ServiceAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/TelemetryAttributes.scala
Due: Label module:semconv PRs, Label metrics PRs

Prepare 1.0 release
  .github/release.yml
  README.md
  docs/directory.conf
  docs/ecosystem.md
  docs/index.md
  docs/instrumentation/logs.md
  docs/modules-structure.md
Due: Label documentation PRs

Path conditions:
  Label documentation PRs: any of: ^docs/
  Label module:core PRs: any of: ^core/
  Label module:oteljava PRs: any of: ^oteljava/
  Label module:sdk PRs: any of: ^sdk/
  Label module:sdk:contrib:aws PRs: any of: ^sdk-contrib/aws/
  Label module:sdk:exporter PRs: any of: ^sdk-exporter/
  Label module:semconv PRs: any of: ^semconv/
  Label metrics PRs: any of: /(metrics)/
  Label trace PRs: any of: /(trace)/
