Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: Label documentation PRs
  conditions:
  - files~=^docs/
  actions:
    label:
      add:
      - documentation
      remove: []
- name: Label module:core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - module:core
      remove: []
- name: Label module:oteljava PRs
  conditions:
  - files~=^oteljava/
  actions:
    label:
      add:
      - module:oteljava
      remove: []
- name: Label module:sdk PRs
  conditions:
  - files~=^sdk/
  actions:
    label:
      add:
      - module:sdk
      remove: []
- name: Label module:sdk:contrib:aws PRs
  conditions:
  - files~=^sdk-contrib/aws/
  actions:
    label:
      add:
      - module:sdk:contrib:aws
      remove: []
- name: Label module:sdk:exporter PRs
  conditions:
  - files~=^sdk-exporter/
  actions:
    label:
      add:
      - module:sdk:exporter
      remove: []
- name: Label module:semconv PRs
  conditions:
  - files~=^semconv/
  actions:
    label:
      add:
      - module:semconv
      remove: []
- name: Label metrics PRs
  conditions:
  - files~=/(metrics)/
  actions:
    label:
      add:
      - metrics
      remove: []
- name: Label trace PRs
  conditions:
  - files~=/(trace)/
  actions:
    label:
      add:
      - tracing
      remove: []
- name: Label Scala Steward PRs
  conditions:
  - author=typelevel-steward[bot]
  actions:
    label:
      add:
      - dependencies
      remove: []

deploy: f813f5f839efc74fd71e94cc5f5f05e7149b3917
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Move `IORuntimeMetricsSuite` test to the correct `jvm` test directory
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
Due: Label metrics PRs

Make `IORuntimeMetrics` available on Scala Native
  instrumentation/metrics/js/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
  instrumentation/metrics/jvm-native/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
  instrumentation/metrics/jvm-native/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
Due: Label metrics PRs

Replace `localForIOLocal` with `ioLocal.asLocal[F]`
  core/common/src/main/scala/org/typelevel/otel4s/context/LocalProvider.scala
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorage.scala
Due: Label module:core PRs, Label module:oteljava PRs

Update Platform to 1.0.3
  build.sbt
  core/common/src/test/scala/org/typelevel/otel4s/context/propagation/TextMapGetterProps.scala
Due: Label module:core PRs

Update munit to 1.2.0
  build.sbt
  core/common/src/test/scala/org/typelevel/otel4s/context/propagation/TextMapGetterProps.scala
Due: Label module:core PRs

Update Scala Native to 0.5.10
  project/plugins.sbt
Due: none

Move `IORuntimeMetricsSuite` from `jvm-native` to `jvm` package
  instrumentation/metrics/jvm/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
Due: Label metrics PRs

Bump `tlBaseVersion` to 0.16
  build.sbt
Due: none

Align dependencies with Scala.js version
  build.sbt
Due: none

Update Scala Native to 0.5.9
  project/plugins.sbt
Due: none

Remove unused `sonatypeCentralSnapshots` resolver from build file
  build.sbt
Due: none

Update cats-effect to 3.7.0, munit-cats-effect to 2.2.0, and scalacheck-effect to 2.1.0
  build.sbt
Due: none

Update Scala Native to 0.5.10 (#1078)
  build.sbt
  core/common/src/main/scala/org/typelevel/otel4s/context/LocalProvider.scala
  instrumentation/metrics/js/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
  instrumentation/metrics/jvm-native/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorage.scala
  project/plugins.sbt
Due: Label module:core PRs, Label module:oteljava PRs, Label metrics PRs

Replace `KindTransformer` with `Lift{Value,Kind}`
  build.sbt
  core/common/src/main/scala/org/typelevel/otel4s/KindTransformer.scala
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/common/src/main/scala/org/typelevel/otel4s/package.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LogRecordBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Logger.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerProvider.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/meta/InstrumentMeta.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/meta/InstrumentMeta.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerProvider.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/meta/InstrumentMeta.scala
Due: Label module:core PRs, Label metrics PRs, Label trace PRs

core-logs: add overloaded `isEnabled`
  core/logs/src/main/scala/org/typelevel/otel4s/logs/meta/InstrumentMeta.scala
Due: Label module:core PRs

docs: replace `KindTransformer` references with `cats.mtl.LiftValue`.
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LogRecordBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Logger.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerProvider.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/meta/InstrumentMeta.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/meta/InstrumentMeta.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerProvider.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/meta/InstrumentMeta.scala
Due: Label module:core PRs, Label metrics PRs, Label trace PRs

logs: add `currentContext` to the `Logger`
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Logger.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerProvider.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/meta/InstrumentMeta.scala
  docs/instrumentation/logs.md
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerImpl.scala
Due: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs

semconv-metrics: make `AttributeSpec.Impl` private
  semconv/metrics/stable/src/main/scala/org/typelevel/otel4s/semconv/AttributeSpec.scala
Due: Label module:semconv PRs, Label metrics PRs

deploy: 3ae80bd819a9881223644b2e36420e0a50c09164
  instrumentation/logs.html
Due: none

docs: mention `LiftKind` instead of LiftValue`
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerProvider.scala
Due: Label module:core PRs, Label trace PRs

Rename `InstrumentMeta.from` to `InstrumentMeta.dynamic`
  core/logs/src/main/scala/org/typelevel/otel4s/logs/meta/InstrumentMeta.scala
  core/logs/src/test/scala/org/typelevel/otel4s/logs/meta/InstrumentMetaSuite.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/meta/InstrumentMeta.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/meta/InstrumentMetaSuite.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/meta/InstrumentMeta.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/meta/InstrumentMetaSuite.scala
Due: Label module:core PRs, Label metrics PRs, Label trace PRs

deploy: 52ee49dbd1cc76947688851d0ca5dbf3a71c1fa7
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Update fs2 to 3.13.0
  build.sbt
Due: none

Define basic MetricExpectation and MetricMismatch types
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Use path-dependent types
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Refine API
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Refactor `PointExpectation`
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Improve MetricExpectation ergonomics
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Add Attributes/InstrumentationScope/TelemetryResource expectation
  build.sbt
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Refine AttributesExpectation
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Add Mismatch types to expectations
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/ExpectationChecks.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
Due: Label module:oteljava PRs

Attributes / InstrumentationScope / TelemetryResource cleanup
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/ExpectationChecks.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
Due: Label module:oteljava PRs

Add Mismatch type to the Metrics and Point expectation
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/ExpectationChecks.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Define MetricExpectation per instrument
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/ExpectationChecks.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Cleanup PointExpectation
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Cleanup MetricExpectation
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Improve PointExpectation api
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs
