Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

Label documentation PRs:
  label:
    add:
    - documentation
    remove: []

Label module:core PRs:
  label:
    add:
    - module:core
    remove: []

Label module:oteljava PRs:
  label:
    add:
    - module:oteljava
    remove: []

Label module:sdk PRs:
  label:
    add:
    - module:sdk
    remove: []

Label module:sdk:contrib:aws PRs:
  label:
    add:
    - module:sdk:contrib:aws
    remove: []

Label module:sdk:exporter PRs:
  label:
    add:
    - module:sdk:exporter
    remove: []

Label module:semconv PRs:
  label:
    add:
    - module:semconv
    remove: []

Label metrics PRs:
  label:
    add:
    - metrics
    remove: []

Label trace PRs:
  label:
    add:
    - tracing
    remove: []

deploy: 661a927516de8cce52f10d1825abe0e116b93f45
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

build: do not upload JS and SN artifacts
  .github/workflows/ci.yml
  build.sbt
Due: none

deploy: b380dd09138dd9557c45e5386b35eae9598e30b2
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

core-common: add `BaggageManager.noop`
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
Due: Label module:core PRs

core-common: add BaggageManagerSuite
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
  core/common/src/test/scala/org/typelevel/otel4s/baggage/BaggageManagerSuite.scala
  core/common/src/test/scala/org/typelevel/otel4s/baggage/BaseBaggageManagerSuite.scala
  oteljava/common/src/test/scala/org/typelevel/otel4s/oteljava/baggage/BaggageManagerImplSuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/baggage/SdkBaggageManagerSuite.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs

BaggageManager: remove deprecated methods
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
  core/common/src/test/scala/org/typelevel/otel4s/baggage/BaggageManagerSuite.scala
  core/common/src/test/scala/org/typelevel/otel4s/baggage/BaseBaggageManagerSuite.scala
Due: Label module:core PRs

Update Platform to 1.0.3
  build.sbt
  core/common/src/test/scala/org/typelevel/otel4s/context/propagation/TextMapGetterProps.scala
Due: Label module:core PRs

feat(AwsEksDetector): Adding in functionality for the AWSEksDetector similar to the java implementation. This test also brings in the DockerHelper from opentelemetry-java-contrib. #783.
  docs/sdk/aws-resource-detectors.md
  sdk-contrib/aws/resource/src/main/scala/org/typelevel/otel4s/sdk/contrib/aws/resource/AWSEksDetector.scala
  sdk-contrib/aws/resource/src/main/scala/org/typelevel/otel4s/sdk/contrib/aws/resource/DockerHelper.scala
  sdk-contrib/aws/resource/src/test/scala/org/typelevel/otel4s/sdk/contrib/aws/resource/AWSEksDetectorSuite.scala
  sdk-contrib/aws/resource/src/test/scala/org/typelevel/otel4s/sdk/contrib/aws/resource/DockerHelperSuite.scala
Due: Label documentation PRs, Label module:sdk:contrib:aws PRs

chore(DockerHelper): incorporating pr feedback. #783.
  sdk-contrib/aws/resource/src/main/scala/org/typelevel/otel4s/sdk/contrib/aws/resource/DockerHelper.scala
Due: Label module:sdk:contrib:aws PRs

deploy: 886d5aac712626b5431ab16cb7c3d38335141543
  sdk/aws-resource-detectors.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

chore(DockerHelper): switching to Concurrent instead of Async. #783.
  sdk-contrib/aws/resource/src/main/scala/org/typelevel/otel4s/sdk/contrib/aws/resource/DockerHelper.scala
Due: Label module:sdk:contrib:aws PRs

deploy: a1357cbc8dfd6588c5e5dde90bb6fc4a990c6d0e
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Update sbt-typelevel to 0.8.2
  .github/workflows/ci.yml
  project/plugins.sbt
Due: none

Update Scala.js to 1.20.1
  project/plugins.sbt
Due: none

Update OpenTelemetry to 1.55.0
  build.sbt
Due: none

deploy: 695ac2816dea4693c71099517abca49713afe2f6
  oteljava/metrics-jvm-runtime.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: cc826fc36999d6dbaba1893c06b8748a48fd1c50
  customization/histogram-custom-buckets/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/metrics.html
  instrumentation/tracing.html
  oteljava/agent.html
  oteljava/overview.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 82fb58f570bd555bee1a31ed6c52446e23238113
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk-exporter: try to address flaky tests
  sdk-exporter/common/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/DockerUtils.scala
  sdk-exporter/logs/docker/config/otel-collector-config.yaml
  sdk-exporter/logs/docker/docker-compose.yml
  sdk-exporter/logs/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/OtlpLogRecordExporterSuite.scala
  sdk-exporter/metrics/docker/config/otel-collector-config.yaml
  sdk-exporter/metrics/docker/docker-compose.yml
  sdk-exporter/metrics/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/metrics/OtlpMetricExporterSuite.scala
  sdk-exporter/trace/docker/config/otel-collector-config.yaml
  sdk-exporter/trace/docker/docker-compose.yml
  sdk-exporter/trace/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/OtlpSpanExporterSuite.scala
Due: Label module:sdk:exporter PRs, Label metrics PRs, Label trace PRs

deploy: e0573e6f019a4fb0537fc426690b4fe16ad22423
  customization/histogram-custom-buckets/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/metrics.html
  instrumentation/tracing.html
  oteljava/agent.html
  oteljava/overview.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 68d9103888ae51585a083ff06ae993ab9aa76b78
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

docs: fix AWS EKS detector example
  docs/sdk/aws-resource-detectors.md
  sdk-contrib/aws/resource/src/main/scala/org/typelevel/otel4s/sdk/contrib/aws/resource/AwsEksDetector.scala
Due: Label documentation PRs, Label module:sdk:contrib:aws PRs

deploy: 2a21fca9452aa173720c675f369f24a83b7ebb33
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

sdk: unseal `Diagnostic`
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/internal/Diagnostic.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/test/InMemoryDiagnostic.scala
Due: Label module:sdk PRs

docs: add documentation for the `Logs` module
  build.sbt
  docs/instrumentation/directory.conf
  docs/instrumentation/grafana-logs-example.png
  docs/instrumentation/logs.md
Due: Label documentation PRs

deploy: f291abf20673c13ac513bb53c4c9d68c29164a64
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/grafana-logs-example.png
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: fcdaf470769c7fd304fed0c66fc9f1abebca8fcd
  oteljava/metrics-jvm-runtime.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 483266bc6861477ad142550a20afc5c82a4106ec
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Address Scala 2.13.17 warnings
  core/common/src/main/scala/org/typelevel/otel4s/Attributes.scala
  core/common/src/test/scala/org/typelevel/otel4s/AttributesProps.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/data/LimitedData.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/TelemetryResourceProps.scala
  sdk/testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/OpenTelemetrySdkTestkit.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackendSuite.scala
Due: Label module:core PRs, Label module:sdk PRs, Label trace PRs

deploy: 266106ad4020d674d8c1c69bb8c114f0c1d2574c
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 7559c9c004110fa8d4ed81c0c156e97c78a6d6f7
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Add builders for the oteljava `*Testkit`
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricsTestkit.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
Due: Label module:oteljava PRs, Label metrics PRs, Label trace PRs

Add builders for the sdk `*Testkit`
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
  sdk/logs-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/logs/LogsTestkit.scala
  sdk/metrics-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/metrics/InMemoryMetricExporter.scala
  sdk/metrics-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/metrics/InMemoryMetricReader.scala
  sdk/metrics-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/metrics/MetricsTestkit.scala
  sdk/testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/OpenTelemetrySdkTestkit.scala
  sdk/trace-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/trace/TracesTestkit.scala
Due: Label module:oteljava PRs, Label module:sdk PRs, Label metrics PRs, Label trace PRs

Remove default arguments
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/MetricsBenchmark.scala
  docs/instrumentation/metrics-cats-effect-io-runtime.md
  instrumentation/metrics/js-native/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/trace/SpanBuilderSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/trace/TracerSuite.scala
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricsTestkit.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkitSuite.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracerSuite.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/trace/SpanBuilderSuite.scala
  sdk/logs-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/logs/LogsTestkit.scala
  sdk/metrics-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/metrics/InMemoryMetricReader.scala
  sdk/metrics-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/metrics/MetricsTestkit.scala
  sdk/testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/OpenTelemetrySdkTestkit.scala
  sdk/trace-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/trace/TracesTestkit.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label module:sdk PRs, Label metrics PRs, Label trace PRs

deploy: 56ead8709f605bcf92694256fa87f7dd1b080884
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 9162788547c3636e3ce9faf609bcddc5a34c24bd
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 6a673928e6195426f0a2d5187ee50e5cfe483d4d
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Add mention of `fs2-queues` otel4s integration
  docs/ecosystem.md
Due: Label documentation PRs

Path conditions:
  Label documentation PRs: any of: ^docs/
  Label module:core PRs: any of: ^core/
  Label module:oteljava PRs: any of: ^oteljava/
  Label module:sdk PRs: any of: ^sdk/
  Label module:sdk:contrib:aws PRs: any of: ^sdk-contrib/aws/
  Label module:sdk:exporter PRs: any of: ^sdk-exporter/
  Label module:semconv PRs: any of: ^semconv/
  Label metrics PRs: any of: /(metrics)/
  Label trace PRs: any of: /(trace)/
