Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

Label documentation PRs:
  label:
    add:
    - documentation
    remove: []

Label module:core PRs:
  label:
    add:
    - module:core
    remove: []

Label module:oteljava PRs:
  label:
    add:
    - module:oteljava
    remove: []

Label module:sdk PRs:
  label:
    add:
    - module:sdk
    remove: []

Label module:sdk:contrib:aws PRs:
  label:
    add:
    - module:sdk:contrib:aws
    remove: []

Label module:sdk:exporter PRs:
  label:
    add:
    - module:sdk:exporter
    remove: []

Label module:semconv PRs:
  label:
    add:
    - module:semconv
    remove: []

Label metrics PRs:
  label:
    add:
    - metrics
    remove: []

Label trace PRs:
  label:
    add:
    - tracing
    remove: []

deploy: c3b9960135d2a207419c91adfbaf547973529c70
  customization/histogram-custom-buckets/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/metrics.html
  instrumentation/tracing.html
  oteljava/overview.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 1aa0b248791101af4583c05f44393b899097440a
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 40483df58462f835dc3a767a0a0719233c834d2c
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 332d731735aaac247190b304460f6598a9aaf7ce
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

SpanBuilder: chain modifyState functions
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/SpanBuilderBenchmark.scala
  build.sbt
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBuilderImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/TracerImpl.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracerProvider.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/TracerSharedState.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilderSuite.scala
Due: Label module:oteljava PRs, Label module:sdk PRs, Label trace PRs

Experiment with effectful isEnabled
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/common/src/test/scala/org/typelevel/otel4s/meta/InstrumentMetaSuite.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/CounterMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/GaugeMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/HistogramMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/UpDownCounterMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/CounterMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/GaugeMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/HistogramMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/UpDownCounterMacro.scala
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/SpanBuilderMacro.scala
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/SpanMacro.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanFinalizer.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
Due: Label module:core PRs, Label module:sdk PRs, Label metrics PRs, Label trace PRs

Intermediate result
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/CounterMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/GaugeMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/HistogramMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/UpDownCounterMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/CounterMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/GaugeMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/HistogramMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/UpDownCounterMacro.scala
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/SpanMacro.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
Due: Label module:core PRs, Label metrics PRs, Label trace PRs

Split InstrumentMeta into Dynamic and Static
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/SpanBuilderBenchmark.scala
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/common/src/test/scala/org/typelevel/otel4s/meta/InstrumentMetaSuite.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Counter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Gauge.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Histogram.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/UpDownCounter.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/CounterSuite.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/HistogramSuite.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/UpDownCounterSuite.scala
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/SpanBuilderMacro.scala
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/SpanMacro.scala
  core/trace/src/main/scala-3/org/typelevel/otel4s/trace/SpanBuilderMacro.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanFinalizer.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanBuilderSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/CounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/GaugeBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/HistogramBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/UpDownCounterBuilderImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBackendImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/TracerImpl.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkCounter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkGauge.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkHistogram.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkUpDownCounter.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/processor/SimpleSpanProcessorSuite.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label metrics PRs, Label trace PRs

Reuse InstrumentMeta instances
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/common/src/test/scala/org/typelevel/otel4s/meta/InstrumentMetaSuite.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Meter.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanBuilderSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/CounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/GaugeBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/HistogramBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/MeterImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/UpDownCounterBuilderImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBuilderImpl.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkCounter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkGauge.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkHistogram.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkMeter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkUpDownCounter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/internal/MeterSharedState.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/NoopInstrumentBuilderSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/SdkMeterSuite.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracerProvider.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/TracerSharedState.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilderSuite.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label metrics PRs, Label trace PRs

Run scalafmt, scalafix
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/SpanBuilderBenchmark.scala
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
Due: Label module:core PRs, Label module:sdk PRs, Label trace PRs

Cleanup
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
Due: Label module:core PRs, Label trace PRs

'Fix' tests
  core/trace/src/main/scala-3/org/typelevel/otel4s/trace/SpanBuilderMacro.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanBuilderSuite.scala
Due: Label module:core PRs, Label trace PRs

Cleanup
  core/trace/src/main/scala-3/org/typelevel/otel4s/trace/SpanBuilderMacro.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanBuilderSuite.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/TracerImpl.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label trace PRs

deploy: af736f75933316abe9834b4ae3e4d5fb9fd4a290
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Add InstrumentMeta.Dynamic.from
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/common/src/test/scala/org/typelevel/otel4s/meta/InstrumentMetaSuite.scala
Due: Label module:core PRs

deploy: 695d6dcbc912b9f041e51cf5a3d2f3a18301a484
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

add mapK implementation to meter
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/BatchCallback.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Counter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Gauge.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Histogram.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Meter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableCounter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableGauge.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableMeasurement.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableUpDownCounter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/UpDownCounter.scala
Due: Label module:core PRs, Label metrics PRs

add test for Counter.Builder.mapK
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/SdkCounterSuite.scala
Due: Label module:sdk PRs, Label metrics PRs

remove unused import
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Histogram.scala
Due: Label module:core PRs, Label metrics PRs

remove unused evidence parameter
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/UpDownCounter.scala
Due: Label module:core PRs, Label metrics PRs

scalafix
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/BatchCallback.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Counter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Gauge.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Meter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableCounter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableGauge.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableMeasurement.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableUpDownCounter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/UpDownCounter.scala
Due: Label module:core PRs, Label metrics PRs

deploy: 0790b13e62e1ea75489c8bc1594b3d774b7160fc
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: f8fbcdcd825ac35f6746b4f5f4a535a8247f288c
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Redesign `BaggageManager`
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
  core/common/src/test/scala/org/typelevel/otel4s/baggage/BaggageManagerSuite.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/baggage/BaggageManagerImpl.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/baggage/SdkBaggageManager.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs

deploy: 4b5f51093e3bb2fbb20914f901a5752a88d8e26c
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

fixup! Redesign `BaggageManager`
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
Due: Label module:core PRs

deploy: 1a7e7d0f4a79a4eaaf605452e3863e2f9f0d771d
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Allocate noop meter instruments only once
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableCounter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableUpDownCounter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/NoopInstrumentBuilder.scala
Due: Label module:core PRs, Label module:sdk PRs, Label metrics PRs

fixup! Redesign `BaggageManager`
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
  core/common/src/test/scala/org/typelevel/otel4s/baggage/BaggageManagerSuite.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/baggage/BaggageManagerImpl.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/baggage/SdkBaggageManager.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs

Fix `KindTransformer` instances
  core/common/src/main/scala/org/typelevel/otel4s/KindTransformer.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/BaseTracerSuite.scala
Due: Label module:core PRs, Label trace PRs

fixup! fixup! Redesign `BaggageManager`
  docs/instrumentation/baggage.md
Due: Label documentation PRs

deploy: 4027b47455a78ea437b01c745b34f12085891192
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: bb019b26b26f7aca67353c41c2d006dba19e721c
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Upgrade to sbt-scala-native-config-brew-github-actions-0.4.0
  project/plugins.sbt
Due: none

deploy: 22fe6e63a9e9a58775b4c27babbb03f5eeff15d3
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Redesign `BaggageManager`
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
  core/common/src/test/scala/org/typelevel/otel4s/baggage/BaggageManagerSuite.scala
  docs/instrumentation/baggage.md
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/baggage/BaggageManagerImpl.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/baggage/SdkBaggageManager.scala
Due: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs

deploy: 7e16b18c1a0d1e6eba557c07b1e317185e6aaf18
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 4dff5901235052f0d5276cebac33cd37b1e11dfc
  instrumentation/baggage.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: b09621b0845031cbf183e60c64d2c3f6af2a1e1b
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 5568675a9ebbcf92f1b1e58e92b76455b8899e87
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Path conditions:
  Label documentation PRs: any of: ^docs/
  Label module:core PRs: any of: ^core/
  Label module:oteljava PRs: any of: ^oteljava/
  Label module:sdk PRs: any of: ^sdk/
  Label module:sdk:contrib:aws PRs: any of: ^sdk-contrib/aws/
  Label module:sdk:exporter PRs: any of: ^sdk-exporter/
  Label module:semconv PRs: any of: ^semconv/
  Label metrics PRs: any of: /(metrics)/
  Label trace PRs: any of: /(trace)/
