Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

Label documentation PRs:
  label:
    add:
    - documentation
    remove: []

Label module:core PRs:
  label:
    add:
    - module:core
    remove: []

Label module:oteljava PRs:
  label:
    add:
    - module:oteljava
    remove: []

Label module:sdk PRs:
  label:
    add:
    - module:sdk
    remove: []

Label module:sdk:contrib:aws PRs:
  label:
    add:
    - module:sdk:contrib:aws
    remove: []

Label module:sdk:exporter PRs:
  label:
    add:
    - module:sdk:exporter
    remove: []

Label module:semconv PRs:
  label:
    add:
    - module:semconv
    remove: []

Label metrics PRs:
  label:
    add:
    - metrics
    remove: []

Label trace PRs:
  label:
    add:
    - tracing
    remove: []

core-common: add `AnyValue`
  core/common/src/main/scala/org/typelevel/otel4s/AnyValue.scala
  core/common/src/test/scala/org/typelevel/otel4s/AnyValueSuite.scala
  core/common/src/test/scala/org/typelevel/otel4s/scalacheck/Arbitraries.scala
  core/common/src/test/scala/org/typelevel/otel4s/scalacheck/Cogens.scala
  core/common/src/test/scala/org/typelevel/otel4s/scalacheck/Gens.scala
Due: Label module:core PRs

deploy: 9780c9234c663fb25736e668aa2309e879fed9b5
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

unwrap IOLocalContextStorage from SettableContextStorageProvider in testkit
  build.sbt
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorage.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorage.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorageSuite.scala
Due: Label module:oteljava PRs

add headers
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorage.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorageSuite.scala
Due: Label module:oteljava PRs

add trackFiberContext to oteljava module
  build.sbt
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/BaseMeterSuite.scala
Due: Label module:core PRs, Label metrics PRs

add trackFiberContext to sdk module
  build.sbt
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorage.scala
Due: Label module:oteljava PRs

deploy: 9d43bcef7434156cdfed64ee9b12d800e10211e9
  customization/histogram-custom-buckets/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/metrics.html
  instrumentation/tracing.html
  oteljava/overview.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Update core/common/src/main/scala/org/typelevel/otel4s/AnyValue.scala
  core/common/src/main/scala/org/typelevel/otel4s/AnyValue.scala
Due: Label module:core PRs

Use `Seq` with ListValue
  core/common/src/main/scala/org/typelevel/otel4s/AnyValue.scala
Due: Label module:core PRs

logs: add `core-logs` module
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

fix warnings
  core/common/src/main/scala/org/typelevel/otel4s/AnyValue.scala
Due: Label module:core PRs

deploy: fe69c32784b041ad98d82ee3e04bd6fc45cb1d68
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

core-logs: add Severity
  build.sbt
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Severity.scala
  core/logs/src/test/scala/org/typelevel/otel4s/logs/SeveritySuite.scala
  core/logs/src/test/scala/org/typelevel/otel4s/logs/scalacheck/Arbitraries.scala
  core/logs/src/test/scala/org/typelevel/otel4s/logs/scalacheck/Cogens.scala
  core/logs/src/test/scala/org/typelevel/otel4s/logs/scalacheck/Gens.scala
Due: Label module:core PRs

deploy: ce74f904a5464c49413abb9a728f8eef13c23451
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 42bdbe43dad41ad01fcdc825bdb3340412c12822
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

core-logs: add Severity - address feedback
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Severity.scala
  core/logs/src/test/scala/org/typelevel/otel4s/logs/SeveritySuite.scala
  core/logs/src/test/scala/org/typelevel/otel4s/logs/scalacheck/Cogens.scala
  core/logs/src/test/scala/org/typelevel/otel4s/logs/scalacheck/Gens.scala
Due: Label module:core PRs

deploy: 55a6154125355ca37e5d800d2d30ce10f1bfad45
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

core-logs: add LogRecordBuilder
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LogRecordBuilder.scala
Due: Label module:core PRs

define hashcode as lazy val
  core/common/src/main/scala/org/typelevel/otel4s/Attribute.scala
  core/common/src/main/scala/org/typelevel/otel4s/AttributeKey.scala
  core/common/src/main/scala/org/typelevel/otel4s/Attributes.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TraceState.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/Metric.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label metrics PRs, Label trace PRs

define hashcode as lazy val
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/AttributesBenchmark.scala
  core/common/src/main/scala/org/typelevel/otel4s/AnyValue.scala
  core/common/src/main/scala/org/typelevel/otel4s/Attribute.scala
  core/common/src/main/scala/org/typelevel/otel4s/AttributeKey.scala
  core/common/src/main/scala/org/typelevel/otel4s/Attributes.scala
  core/common/src/main/scala/org/typelevel/otel4s/baggage/Baggage.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Severity.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/BucketBoundaries.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanContext.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TraceFlags.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TraceState.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScope.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResource.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/HistogramPointData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/Metric.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/MetricData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/QuantileData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/SummaryPointData.scala
  sdk-exporter/common/src/main/scala/org/typelevel/otel4s/sdk/exporter/RetryPolicy.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/TelemetryResource.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/common/InstrumentationScope.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/context/Context.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/context/TraceContext.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/data/ExemplarData.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/data/MetricData.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/data/MetricPoints.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/data/PointData.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/data/TimeWindow.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/internal/Advice.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/internal/InstrumentDescriptor.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/internal/MetricDescriptor.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/view/InstrumentSelector.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SpanLimits.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/EventData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/LinkData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/SpanData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/StatusData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/SamplingResult.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:exporter PRs, Label metrics PRs, Label trace PRs

deploy: 9901801581c4b9590809398409c615c673aa7598
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 83af38ac6f425902876d9d45cbfbe8f47ea22c60
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

core-common: add `Attributes.Make`
  core/common/src/main/scala/org/typelevel/otel4s/Attributes.scala
  core/common/src/test/scala/org/typelevel/otel4s/AttributeSuite.scala
Due: Label module:core PRs

Revert "define hashcode as lazy val"
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/AttributesBenchmark.scala
  core/common/src/main/scala/org/typelevel/otel4s/AnyValue.scala
  core/common/src/main/scala/org/typelevel/otel4s/Attribute.scala
  core/common/src/main/scala/org/typelevel/otel4s/AttributeKey.scala
  core/common/src/main/scala/org/typelevel/otel4s/Attributes.scala
  core/common/src/main/scala/org/typelevel/otel4s/baggage/Baggage.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Severity.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/BucketBoundaries.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanContext.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TraceFlags.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TraceState.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScope.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResource.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/HistogramPointData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/Metric.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/MetricData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/QuantileData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/SummaryPointData.scala
  sdk-exporter/common/src/main/scala/org/typelevel/otel4s/sdk/exporter/RetryPolicy.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/TelemetryResource.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/common/InstrumentationScope.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/context/Context.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/context/TraceContext.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/data/ExemplarData.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/data/MetricData.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/data/MetricPoints.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/data/PointData.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/data/TimeWindow.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/internal/Advice.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/internal/InstrumentDescriptor.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/internal/MetricDescriptor.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/view/InstrumentSelector.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SpanLimits.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/EventData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/LinkData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/SpanData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/StatusData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/SamplingResult.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:exporter PRs, Label metrics PRs, Label trace PRs

define hashcode as lazy val for some types
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/AttributesBenchmark.scala
  core/common/src/main/scala/org/typelevel/otel4s/Attribute.scala
  core/common/src/main/scala/org/typelevel/otel4s/AttributeKey.scala
  core/common/src/main/scala/org/typelevel/otel4s/Attributes.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanContext.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TraceFlags.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TraceState.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/common/InstrumentationScope.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/context/Context.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/internal/MetricDescriptor.scala
Due: Label module:core PRs, Label module:sdk PRs, Label metrics PRs, Label trace PRs

docs: add sttp and tapir to the ecosystem
  docs/ecosystem.md
Due: Label documentation PRs

deploy: 0806e2f394ba7f0905f95a7de7498b0e8486d977
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: dda317b27e7a0dcddbeb05fb77f854def62d2864
  ecosystem.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 94d006f949cf9000489c63fa63dbe5d1a5560933
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 7c2edc1f92c909595d679d31b9975ab2751ba8af
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Add `withEventName`
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LogRecordBuilder.scala
Due: Label module:core PRs

oteljava: add `TracesTestkit#resetSpans`
  build.sbt
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
Due: Label module:oteljava PRs, Label trace PRs

deploy: d71013f86d655a2e2ddfcfcb995de3830f67d55f
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

core-logs: add `LoggerProvider`, `LoggerBuilder`, and `Logger`
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LogRecordBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Logger.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerProvider.scala
Due: Label module:core PRs

deploy: 3e212d3357ec50c7b898488c0518c5d053d8177c
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 1b406aeabc7b44abd2a636077f7c3576a8dcd781
  customization/histogram-custom-buckets/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/metrics.html
  instrumentation/tracing.html
  oteljava/overview.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Use Resource.fromAutoCloseable in docs
  docs/oteljava/metrics-jvm-runtime.md
Due: Label documentation PRs

deploy: 3f823d73479e788f40c46e31c6ceb6160131561e
  oteljava/metrics-jvm-runtime.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

docs: update scaladoc example
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
Due: Label module:core PRs, Label trace PRs

deploy: 31c4d877d9d926c185291cc69e52281496b84659
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Path conditions:
  Label documentation PRs: any of: ^docs/
  Label module:core PRs: any of: ^core/
  Label module:oteljava PRs: any of: ^oteljava/
  Label module:sdk PRs: any of: ^sdk/
  Label module:sdk:contrib:aws PRs: any of: ^sdk-contrib/aws/
  Label module:sdk:exporter PRs: any of: ^sdk-exporter/
  Label module:semconv PRs: any of: ^semconv/
  Label metrics PRs: any of: /(metrics)/
  Label trace PRs: any of: /(trace)/
