Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

Label documentation PRs:
  label:
    add:
    - documentation
    remove: []

Label module:core PRs:
  label:
    add:
    - module:core
    remove: []

Label module:oteljava PRs:
  label:
    add:
    - module:oteljava
    remove: []

Label module:sdk PRs:
  label:
    add:
    - module:sdk
    remove: []

Label module:sdk:contrib:aws PRs:
  label:
    add:
    - module:sdk:contrib:aws
    remove: []

Label module:sdk:exporter PRs:
  label:
    add:
    - module:sdk:exporter
    remove: []

Label module:semconv PRs:
  label:
    add:
    - module:semconv
    remove: []

Label metrics PRs:
  label:
    add:
    - metrics
    remove: []

Label trace PRs:
  label:
    add:
    - tracing
    remove: []

deploy: eda546e42313466be925435cb865104555ec5b8b
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  how-to-jvm-setup/set-up-otel4s-in-a-jvm-application.html
  how-to-jvm-setup/use-the-otel4s-java-agent.html
  index.html
  instrumentation/logs.html
  instrumentation/metrics.html
  instrumentation/tracing.html
  oteljava/overview.html
Due: Label module:oteljava PRs

docs: restructure and relocate "Modules structure" content
  docs/directory.conf
  docs/explanations/directory.conf
  docs/explanations/modules-and-module-families.md
  docs/how-to-jvm-setup/index.md
  docs/index.md
  docs/modules-structure.md
Due: Label documentation PRs

semconv generator: fix block code template
  buildscripts/semantic-convention/templates/registry/otel4s/attributes/weaver.yaml
  buildscripts/semantic-convention/templates/registry/otel4s/metrics-tests/weaver.yaml
Due: none

docs: relocate and restructure "OtelJava" content
  docs/explanations/directory.conf
  docs/explanations/modules-and-module-families.md
  docs/explanations/oteljava-jvm-backend.md
  docs/how-to-jvm-setup/index.md
  docs/index.md
  docs/instrumentation/logs.md
  docs/oteljava/directory.conf
  docs/oteljava/overview.md
Due: Label documentation PRs

deploy: 5eeeda0fa7336ecaecf9834f7ceff7185d784dbf
  how-to-metrics/register-jvm-runtime-metrics.html
Due: none

Update opentelemetry semconv to 1.42.0, generate conventions
  build.sbt
  buildscripts/semantic-convention/templates/registry/otel4s/attributes/weaver.yaml
  buildscripts/semantic-convention/templates/registry/otel4s/metrics/SemanticMetrics.scala.j2
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AndroidExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AppExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/BrowserExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CicdExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ContainerExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CpuExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/FileExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/GcpExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/GenAiExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/K8sExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/McpExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/OpenaiExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ProcessExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ProfileExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/UrlExperimentalAttributes.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/CicdExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/ContainerExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/CpuExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/GenAiExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/HttpExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/K8sExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/McpExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/NodejsExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/OpenshiftExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/OtelExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/ProcessExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/SystemExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/V8jsExperimentalMetrics.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/ContainerAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/K8sAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/UrlAttributes.scala
Due: Label module:semconv PRs, Label metrics PRs

semconv: Add 1.42.0 schema url
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/SchemaUrls.scala
Due: Label module:semconv PRs

core: add `liftTo` support in `BaggageManager`
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
  core/common/src/test/scala/org/typelevel/otel4s/baggage/BaseBaggageManagerSuite.scala
Due: Label module:core PRs

core: add `liftTo` to `Counter`, `Gauge`, `Histogram`, `UpDownCounter`
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Counter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Gauge.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Histogram.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/UpDownCounter.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/GaugeSuite.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/HistogramSuite.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/UpDownCounterSuite.scala
Due: Label module:core PRs, Label metrics PRs

docs: Add "how-to-testkit" section
  docs/directory.conf
  docs/how-to-testkit/directory.conf
  docs/how-to-testkit/index.md
  docs/how-to-testkit/test-metrics-emitted-by-your-code.md
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricsTestkit.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Update ecosystem page
  docs/ecosystem.md
Due: Label documentation PRs

deploy: 2d4240974fa7a6b1a39b4541364dfa27e5a9e836
  ecosystem.html
Due: none

docs: Add "Test traces emitted by your code" page
  docs/how-to-testkit/directory.conf
  docs/how-to-testkit/index.md
  docs/how-to-testkit/test-traces-emitted-by-your-code.md
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label trace PRs

docs: Add "Test logs emitted by your code" page
  docs/how-to-testkit/directory.conf
  docs/how-to-testkit/index.md
  docs/how-to-testkit/test-logs-emitted-by-your-code.md
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
Due: Label documentation PRs, Label module:oteljava PRs

Update directory.conf
  docs/how-to-testkit/directory.conf
Due: Label documentation PRs

docs: Add "Use IOLocalContextStorage with the testkit" page
  docs/how-to-jvm-setup/keep-otel4s-context-in-sync-with-opentelemetry-java.md
  docs/how-to-testkit/directory.conf
  docs/how-to-testkit/index.md
  docs/how-to-testkit/use-iolocal-context-storage-with-the-testkit.md
  docs/oteljava/testkit.md
  oteljava/context-storage-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorage.scala
Due: Label documentation PRs, Label module:oteljava PRs

Run scalafix
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
Due: Label module:oteljava PRs, Label trace PRs

Generate semantic conventions
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AzureExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CloudExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/DbExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/K8sExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/NetworkExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/TelemetryExperimentalAttributes.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/CicdExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/ContainerExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/HwExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/K8sExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/NfsExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/OtelExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/ProcessExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/SystemExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/VcsExperimentalMetrics.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/SchemaUrls.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/DbAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/K8sAttributes.scala
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/attributes/TelemetryAttributes.scala
Due: Label module:semconv PRs, Label metrics PRs

docs: turn remaining testkit pages into reference pages
  docs/how-to-testkit/index.md
  docs/how-to-testkit/test-logs-emitted-by-your-code.md
  docs/how-to-testkit/test-metrics-emitted-by-your-code.md
  docs/how-to-testkit/test-traces-emitted-by-your-code.md
  docs/oteljava/testkit-logs.md
  docs/oteljava/testkit-metrics.md
  docs/oteljava/testkit-traces.md
  docs/oteljava/testkit.md
Due: Label documentation PRs

deploy: 5e05e29a6b86bd31c23b2219839547687491be92
  how-to-metrics/register-jvm-runtime-metrics.html
Due: none

core-metrics: introduce `Meter.Synchronous`
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Meter.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/BaseMeterSuite.scala
Due: Label module:core PRs, Label metrics PRs

docs: turn "Cross-service propagation" into a reference page
  docs/instrumentation/tracing-cross-service-propagation.md
Due: Label documentation PRs

docs: rewrite "Tracing" into a reference page
  docs/how-to-tracing/index.md
  docs/instrumentation/tracing.md
Due: Label documentation PRs

docs: rewrite "Tracing | Interop with Java-instrumented libraries"
  build.sbt
  docs/explanations/how-otel4s-context-propagation-works.md
  docs/how-to-jvm-setup/use-the-global-opentelemetry-instance.md
  docs/how-to-tracing/directory.conf
  docs/how-to-tracing/index.md
  docs/how-to-tracing/use-otel4s-with-java-instrumented-libraries.md
  docs/how-to-tracing/use-otel4s-with-pekko-http-instrumentation.md
  docs/oteljava/directory.conf
  docs/oteljava/tracing-java-interop.md
Due: Label documentation PRs

docs: rewrite "Metrics" as "Metrics API reference" page
  docs/how-to-metrics/record-application-metrics.md
  docs/instrumentation/metrics.md
Due: Label documentation PRs

docs: rewrite "Metrics | Cats Effect IO runtime" as "Cats Effect IO runtime metrics reference" page
  docs/how-to-metrics/grafana_dashboard.png
  docs/how-to-metrics/register-cats-effect-runtime-metrics.md
  docs/instrumentation/metrics-cats-effect-io-runtime.md
  instrumentation/metrics/shared/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetrics.scala
Due: Label documentation PRs, Label metrics PRs

Update tlBaseVersion to 1.1
  build.sbt
Due: none

Path conditions:
  Label documentation PRs: any of: ^docs/
  Label module:core PRs: any of: ^core/
  Label module:oteljava PRs: any of: ^oteljava/
  Label module:sdk PRs: any of: ^sdk/
  Label module:sdk:contrib:aws PRs: any of: ^sdk-contrib/aws/
  Label module:sdk:exporter PRs: any of: ^sdk-exporter/
  Label module:semconv PRs: any of: ^semconv/
  Label metrics PRs: any of: /(metrics)/
  Label trace PRs: any of: /(trace)/
