Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

Label documentation PRs:
  label:
    add:
    - documentation
    remove: []

Label module:core PRs:
  label:
    add:
    - module:core
    remove: []

Label module:oteljava PRs:
  label:
    add:
    - module:oteljava
    remove: []

Label module:sdk PRs:
  label:
    add:
    - module:sdk
    remove: []

Label module:sdk:contrib:aws PRs:
  label:
    add:
    - module:sdk:contrib:aws
    remove: []

Label module:sdk:exporter PRs:
  label:
    add:
    - module:sdk:exporter
    remove: []

Label module:semconv PRs:
  label:
    add:
    - module:semconv
    remove: []

Label metrics PRs:
  label:
    add:
    - metrics
    remove: []

Label trace PRs:
  label:
    add:
    - tracing
    remove: []

Add NumberComparison
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/NumberComparison.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Use BucketBoundaries
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Replace case classes with sealed traits
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Add `message` to `Mismatch`
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Cleanup
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/NumberComparison.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Add `withValue` overloads
  docs/oteljava/directory.conf
  docs/oteljava/testkit-metrics.md
  docs/oteljava/testkit.md
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Update tests
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Add `withAttributesEmpty`
  docs/oteljava/testkit-metrics.md
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Overload API to enforce correct result type
  docs/oteljava/testkit-metrics.md
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Simplify MetricExpectation
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

AttributesExpectation: rename predicate to where
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
Due: Label module:oteljava PRs

Make NumberComparison sealed
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/NumberComparison.scala
Due: Label module:oteljava PRs, Label metrics PRs

MetricExpectations: reorganize traits
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
Due: Label module:oteljava PRs, Label metrics PRs

MetricExpectation: add PointMatchMode
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

MetricExpectation: properly expose predicate API
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

PointExpectation: reorder elements
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Add NumericPointData to PointExpectation
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Add PointSetExpectation
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Update MetricExpectation and docs
  docs/oteljava/testkit-metrics.md
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Deprecate old `collectMetrics`
  docs/instrumentation/metrics-cats-effect-io-runtime.md
  docs/oteljava/testkit-metrics.md
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/MeterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/FromMetricData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricsTestkit.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/HistogramPointData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/Metric.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/MetricData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/PointData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/QuantileData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/SummaryPointData.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Update docs
  docs/instrumentation/metrics-cats-effect-io-runtime.md
  docs/instrumentation/semantic-conventions.md
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/FromMetricData.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Run scalafmt and scalafix
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/ExpectationChecks.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Update docs
  docs/oteljava/testkit-metrics.md
Due: Label documentation PRs

otel-java-logs: properly record a single attribute
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  oteljava/logs/src/test/scala/org/typelevel/otel4s/oteljava/logs/LogsSuite.scala
Due: Label module:oteljava PRs

oteljava: fix destructive JValue bytes conversion
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/AnyValueConverters.scala
  oteljava/common/src/test/scala/org/typelevel/otel4s/oteljava/AnyValueConvertersSuite.scala
Due: Label module:oteljava PRs

Fix Scala 3 compilation warning
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Run scalafix
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Update docs and add a test for non-consuming `exists` constraints
  docs/oteljava/testkit-metrics.md
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Fix scaladoc warnings
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Update docs and add support for `checkAllDistinct`
  docs/oteljava/testkit-metrics.md
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Refactor matching logic for metric expectations
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Refactor predicate checks for metric expectations
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Prioritize same-type metrics in closest mismatch selection
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Refactor matching logic to improve handling of candidates and ensure completeness
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Introduce `withClue` support for enhanced mismatch context in `PointSetExpectation`
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Cleanup
  docs/oteljava/testkit-metrics.md
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Drop `with` prefix
  docs/oteljava/testkit-metrics.md
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsFormattingSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointSetExpectationSuite.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Update docs
  docs/instrumentation/semantic-conventions.md
  docs/oteljava/testkit-metrics.md
Due: Label documentation PRs

Update JVM Runtime docs
  docs/oteljava/metrics-jvm-runtime.md
Due: Label documentation PRs

deploy: 4d8253896049893237ad57503df0232a376aaaca
  oteljava/metrics-jvm-runtime.html
Due: Label module:oteljava PRs

Path conditions:
  Label documentation PRs: any of: ^docs/
  Label module:core PRs: any of: ^core/
  Label module:oteljava PRs: any of: ^oteljava/
  Label module:sdk PRs: any of: ^sdk/
  Label module:sdk:contrib:aws PRs: any of: ^sdk-contrib/aws/
  Label module:sdk:exporter PRs: any of: ^sdk-exporter/
  Label module:semconv PRs: any of: ^semconv/
  Label metrics PRs: any of: /(metrics)/
  Label trace PRs: any of: /(trace)/
