Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

Label documentation PRs:
  label:
    add:
    - documentation
    remove: []

Label module:core PRs:
  label:
    add:
    - module:core
    remove: []

Label module:oteljava PRs:
  label:
    add:
    - module:oteljava
    remove: []

Label module:sdk PRs:
  label:
    add:
    - module:sdk
    remove: []

Label module:sdk:contrib:aws PRs:
  label:
    add:
    - module:sdk:contrib:aws
    remove: []

Label module:sdk:exporter PRs:
  label:
    add:
    - module:sdk:exporter
    remove: []

Label module:semconv PRs:
  label:
    add:
    - module:semconv
    remove: []

Label metrics PRs:
  label:
    add:
    - metrics
    remove: []

Label trace PRs:
  label:
    add:
    - tracing
    remove: []

Update private scope
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricsTestkit.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigure.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/context/TraceContext.scala
  sdk/metrics-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/metrics/MetricsTestkit.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exporter/MetricExporter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exporter/MetricProducer.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exporter/MetricReader.scala
  sdk/testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/OpenTelemetrySdkTestkit.scala
  sdk/trace-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/trace/TracesTestkit.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/IdGenerator.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SpanRef.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/exporter/SpanExporter.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/processor/SpanProcessor.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/Sampler.scala
Due: Label module:oteljava PRs, Label module:sdk PRs, Label metrics PRs, Label trace PRs

Bump tlBaseVersion to 0.14
  build.sbt
Due: none

fixup! Rename most `mapK` methods to `liftTo`
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerProvider.scala
Due: Label module:core PRs, Label trace PRs

deploy: de1d02dff5587a16e5a308b9644083602546b461
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Add `otel4s-sdk-logs` module
  .github/workflows/ci.yml
  build.sbt
Due: none

Add `otel4s-oteljava-logs` module
  .github/workflows/ci.yml
  build.sbt
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerBuilderImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerProviderImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/Logs.scala
Due: Label module:oteljava PRs

deploy: 8fff5ac3d5a5e9fecf89192f6149b9222518a7b9
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk-logs: add `LogRecordData`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/data/LogRecordData.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/data/LogRecordDataSuite.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/scalacheck/Arbitraries.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/scalacheck/Cogens.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/scalacheck/Gens.scala
Due: Label module:sdk PRs

sdk-logs: add `LogRecordLimits`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/LogRecordLimits.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/LogRecordLimitsSuite.scala
Due: Label module:sdk PRs

sdk-exporter: update OTLP exporter docs
  sdk-exporter/metrics/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/metrics/OtlpMetricExporter.scala
  sdk-exporter/trace/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/OtlpSpanExporter.scala
Due: Label module:sdk:exporter PRs, Label metrics PRs, Label trace PRs

deploy: 2eba68cec148ede33e6a3bf8231852c12e36d784
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

docs: add otel4s Java Agent example
  build.sbt
  docs/ecosystem.md
  docs/oteljava/agent.md
  docs/oteljava/directory.conf
  docs/oteljava/metrics-jvm-runtime.md
  docs/oteljava/tracing-context-propagation.md
Due: Label documentation PRs

docs: update otel4s-opentelemetry-agent version to 0.0.3
  build.sbt
Due: none

deploy: e103efce5a55ade87d7713285ae7b197add32c4f
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Rename most `mapK` methods to `liftTo`
  build.sbt
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LogRecordBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Logger.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerProvider.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerProvider.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/BaseTracerSuite.scala
Due: Label module:core PRs, Label trace PRs

deploy: 2adb9d1ddfbefc133e9b7fccad7660a70f9936a0
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Seal Logger* traits
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Logger.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerProvider.scala
Due: Label module:core PRs

Seal MetricSpec in semconv package
  buildscripts/semantic-convention/templates/registry/otel4s/metrics/SemanticMetrics.scala.j2
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/AzureExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/CicdExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/ContainerExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/CpuExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/CpythonExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/DbExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/DnsExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/FaasExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/GenAiExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/HttpExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/HwExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/JvmExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/K8sExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/MessagingExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/NodejsExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/OtelExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/ProcessExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/RpcExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/SystemExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/V8jsExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/VcsExperimentalMetrics.scala
  semconv/metrics/stable/src/main/scala/org/typelevel/otel4s/semconv/MetricSpec.scala
  semconv/metrics/stable/src/main/scala/org/typelevel/otel4s/semconv/metrics/DbMetrics.scala
  semconv/metrics/stable/src/main/scala/org/typelevel/otel4s/semconv/metrics/HttpMetrics.scala
  semconv/metrics/stable/src/main/scala/org/typelevel/otel4s/semconv/metrics/JvmMetrics.scala
Due: Label module:semconv PRs, Label metrics PRs

Seal FromMetricData and FromSpanData
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/FromMetricData.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/FromSpanData.scala
Due: Label module:oteljava PRs, Label metrics PRs, Label trace PRs

Seal SpanProcessor.OnStart and SpanProcessor.OnEnd
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/MultiSpanProcessorBenchmark.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/processor/BatchSpanProcessor.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/processor/SimpleSpanProcessor.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/processor/SpanProcessor.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackendSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/processor/SpanProcessorSuite.scala
Due: Label module:sdk PRs, Label trace PRs

Seal Config.Reader
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/Config.scala
Due: Label module:sdk PRs

Seal TelemetryResourceDetector
  sdk-contrib/aws/resource/src/main/scala/org/typelevel/otel4s/sdk/contrib/aws/resource/AwsBeanstalkDetector.scala
  sdk-contrib/aws/resource/src/main/scala/org/typelevel/otel4s/sdk/contrib/aws/resource/AwsEc2Detector.scala
  sdk-contrib/aws/resource/src/main/scala/org/typelevel/otel4s/sdk/contrib/aws/resource/AwsEcsDetector.scala
  sdk-contrib/aws/resource/src/main/scala/org/typelevel/otel4s/sdk/contrib/aws/resource/AwsLambdaDetector.scala
  sdk/common/js/src/main/scala/org/typelevel/otel4s/sdk/resource/HostDetectorPlatform.scala
  sdk/common/js/src/main/scala/org/typelevel/otel4s/sdk/resource/OSDetectorPlatform.scala
  sdk/common/js/src/main/scala/org/typelevel/otel4s/sdk/resource/ProcessDetectorPlatform.scala
  sdk/common/js/src/main/scala/org/typelevel/otel4s/sdk/resource/ProcessRuntimeDetectorPlatform.scala
  sdk/common/jvm-native/src/main/scala/org/typelevel/otel4s/sdk/resource/OSDetectorPlatform.scala
  sdk/common/jvm/src/main/scala/org/typelevel/otel4s/sdk/resource/HostDetectorPlatform.scala
  sdk/common/jvm/src/main/scala/org/typelevel/otel4s/sdk/resource/ProcessDetectorPlatform.scala
  sdk/common/jvm/src/main/scala/org/typelevel/otel4s/sdk/resource/ProcessRuntimeDetectorPlatform.scala
  sdk/common/native/src/main/scala/org/typelevel/otel4s/sdk/resource/HostDetectorPlatform.scala
  sdk/common/native/src/main/scala/org/typelevel/otel4s/sdk/resource/ProcessDetectorPlatform.scala
  sdk/common/native/src/main/scala/org/typelevel/otel4s/sdk/resource/ProcessRuntimeDetectorPlatform.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/resource/TelemetryResourceDetector.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigureSuite.scala
Due: Label module:sdk PRs, Label module:sdk:contrib:aws PRs

semconv: fix semconv generation
  buildscripts/semantic-convention/templates/registry/otel4s/attributes/SemanticAttributes.scala.j2
  project/SemanticConventionsGenerator.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/FeatureFlagExperimentalAttributes.scala
Due: Label module:semconv PRs

fixup! Rename most `mapK` methods to `liftTo`
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LogRecordBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Logger.scala
Due: Label module:core PRs

deploy: b878abdb5e885164b768367d8bc31bedd2912bb4
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: b613b5db38448777636383edc8a3601811e13455
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: e63ff12ec5f84c2e9ca3e871aaa547fa55191e94
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 9487c426cd2ca5d7bfc1f71c835491d4d7f7c367
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk-logs: update LogRecordData#severity doc
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/data/LogRecordData.scala
Due: Label module:sdk PRs

deploy: 47e2b8f3b8f43abef13da233439f374072a24f54
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Generate semantic conventions
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AndroidExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AppExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AwsExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AzExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/AzureExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CassandraExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CloudExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ContainerExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/CpuExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/DeploymentExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/DeviceExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/EnduserExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/GenAiExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/HttpExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/HwExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/K8sExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/MainframeExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/MessagingExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/OpenaiExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/OsExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/OtelExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ProcessExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/SystemExperimentalAttributes.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/ZosExperimentalAttributes.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/AzureExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/DbExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/FaasExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/GenAiExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/HttpExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/HwExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/VcsExperimentalMetrics.scala
  semconv/metrics/stable/src/main/scala/org/typelevel/otel4s/semconv/metrics/HttpMetrics.scala
Due: Label module:semconv PRs, Label metrics PRs

Add new version to SchemaUrls
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/SchemaUrls.scala
Due: Label module:semconv PRs

deploy: c4dedf8ae77ed724220904ad3afcd89d49385b21
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Regenerate semantic conventions
  buildscripts/semantic-convention/templates/registry/otel4s/attributes/SemanticAttributes.scala.j2
  buildscripts/semantic-convention/templates/registry/otel4s/attributes/weaver.yaml
  buildscripts/semantic-convention/templates/registry/otel4s/metrics/SemanticMetrics.scala.j2
  sdk/common/jvm-native/src/main/scala/org/typelevel/otel4s/sdk/resource/OSDetectorPlatform.scala
  semconv/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/attributes/OsExperimentalAttributes.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/ContainerExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/CpuExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/K8sExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/OtelExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/SystemExperimentalMetrics.scala
Due: Label module:sdk PRs, Label module:semconv PRs, Label metrics PRs

deploy: 9f8ae268dc1aa5fee07dee849118b4f31413c70a
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Path conditions:
  Label documentation PRs: any of: ^docs/
  Label module:core PRs: any of: ^core/
  Label module:oteljava PRs: any of: ^oteljava/
  Label module:sdk PRs: any of: ^sdk/
  Label module:sdk:contrib:aws PRs: any of: ^sdk-contrib/aws/
  Label module:sdk:exporter PRs: any of: ^sdk-exporter/
  Label module:semconv PRs: any of: ^semconv/
  Label metrics PRs: any of: /(metrics)/
  Label trace PRs: any of: /(trace)/
