Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: Label documentation PRs
  conditions:
  - files~=^docs/
  actions:
    label:
      add:
      - documentation
      remove: []
- name: Label module:core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - module:core
      remove: []
- name: Label module:oteljava PRs
  conditions:
  - files~=^oteljava/
  actions:
    label:
      add:
      - module:oteljava
      remove: []
- name: Label module:sdk PRs
  conditions:
  - files~=^sdk/
  actions:
    label:
      add:
      - module:sdk
      remove: []
- name: Label module:sdk:contrib:aws PRs
  conditions:
  - files~=^sdk-contrib/aws/
  actions:
    label:
      add:
      - module:sdk:contrib:aws
      remove: []
- name: Label module:sdk:exporter PRs
  conditions:
  - files~=^sdk-exporter/
  actions:
    label:
      add:
      - module:sdk:exporter
      remove: []
- name: Label module:semconv PRs
  conditions:
  - files~=^semconv/
  actions:
    label:
      add:
      - module:semconv
      remove: []
- name: Label metrics PRs
  conditions:
  - files~=/(metrics)/
  actions:
    label:
      add:
      - metrics
      remove: []
- name: Label trace PRs
  conditions:
  - files~=/(trace)/
  actions:
    label:
      add:
      - tracing
      remove: []
- name: Label Scala Steward PRs
  conditions:
  - author=typelevel-steward[bot]
  actions:
    label:
      add:
      - dependencies
      remove: []

Use `SystemProperties`
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
  sdk/common/jvm-native/src/main/scala/org/typelevel/otel4s/sdk/resource/OSDetectorPlatform.scala
  sdk/common/jvm/src/main/scala/org/typelevel/otel4s/sdk/resource/HostDetectorPlatform.scala
  sdk/common/jvm/src/main/scala/org/typelevel/otel4s/sdk/resource/ProcessDetectorPlatform.scala
  sdk/common/jvm/src/main/scala/org/typelevel/otel4s/sdk/resource/ProcessRuntimeDetectorPlatform.scala
  sdk/common/native/src/main/scala/org/typelevel/otel4s/sdk/resource/HostDetectorPlatform.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigure.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/resource/TelemetryResourceDetector.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkMetrics.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTraces.scala
Due: Label module:sdk PRs, Label metrics PRs, Label trace PRs

deploy: 6bbbe03011ae36727983f27915292a099e6dac69
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: cee29534100cbce320bc65a640f4da1246828b1f
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 363d5959329113bacb984d5936332fe66106b153
  oteljava/tracing-context-propagation.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 5181f987cf87308ea00b288c9439b7bb5ff0b03e
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk: propagate `Env`
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/Config.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkMetrics.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTraces.scala
Due: Label module:sdk PRs, Label metrics PRs, Label trace PRs

deploy: 9c0918467f6ca9f7b8e5b410f9ab19bf07f896a8
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 9c0918467f6ca9f7b8e5b410f9ab19bf07f896a8
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Update fs2 to `3.12.0-RC1`, remove `epollcat`
  build.sbt
  flake.nix
  sdk-exporter/common/.js/src/test/scala/org/typelevel/otel4s/sdk/exporter/SuiteRuntimePlatform.scala
  sdk-exporter/common/.jvm/src/test/scala/org/typelevel/otel4s/sdk/exporter/SuiteRuntimePlatform.scala
  sdk-exporter/common/.native/src/test/scala/org/typelevel/otel4s/sdk/exporter/SuiteRuntimePlatform.scala
  sdk-exporter/common/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/autoconfigure/OtlpClientAutoConfigureSuite.scala
  sdk-exporter/metrics/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/metrics/OtlpMetricExporterSuite.scala
  sdk-exporter/metrics/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/metrics/autoconfigure/OtlpMetricExporterAutoConfigureSuite.scala
  sdk-exporter/prometheus/src/test/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusHttpRoutesSuite.scala
  sdk-exporter/prometheus/src/test/scala/org/typelevel/otel4s/sdk/exporter/prometheus/autoconfigure/PrometheusMetricExporterAutoConfigureSuite.scala
  sdk-exporter/trace/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/OtlpSpanExporterSuite.scala
  sdk-exporter/trace/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/autoconfigure/OtlpSpanExporterAutoConfigureSuite.scala
Due: Label module:sdk:exporter PRs, Label metrics PRs, Label trace PRs

deploy: beb0a1e790cd187cffdfe94228c0b82d2b20b4c5
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: ac5a6fb8969a98d93cc93ca88d69b151d49a9a1a
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

sdk-common: rename `otel.experimental.resource.disabled.keys` to `otel.resource.disabled.keys`
  docs/sdk/configuration.md
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigure.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigureSuite.scala
Due: Label documentation PRs, Label module:sdk PRs

deploy: 4548972e8bb4ec16d14fd8c9f85e36d3bd1d71b6
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 0912147901be631c74583de2da51372c7384c89a
  customization/histogram-custom-buckets/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/metrics.html
  instrumentation/tracing.html
  oteljava/overview.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 08e4020eb6365e030ad60ba654058d5dd43af3a7
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: e31b2e9304e3b7d230175363a0f8047878967db2
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Update ecosystem.md: mention otel4s-doobie
  docs/ecosystem.md
Due: Label documentation PRs

deploy: 4991e2e440a11fa56fa2183e9948af1e2b1374e1
  ecosystem.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: f46ac8b7a4c9a685783ad4d386c1e0014029c4a6
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Fix copy/paste errors in docs
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerBuilder.scala
Due: Label module:core PRs, Label trace PRs

deploy: d74b413cfbfc522d914b7c1530ed9249606f5c2e
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 2e0e0217f2751abbd53ce82368fb52ffc3ae6efd
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 8af8ebba18f544aa61fbb087ed31777b58fa0ab6
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Add implicit `Otel4s#localContext`
  core/all/src/main/scala/org/typelevel/otel4s/Otel4s.scala
Due: Label module:core PRs

core-common: redefine `Attribute` as a sealed-trait
  core/common/src/main/scala/org/typelevel/otel4s/Attribute.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/AttributeConverters.scala
Due: Label module:core PRs, Label module:oteljava PRs

deploy: 69cb67d873ec060d4a631b855aaa64076e6e9938
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: a726d9c4839da3fd810ecafaedb33e8199776835
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

core-common: add `KeySelect.projection`
  core/common/src/main/scala/org/typelevel/otel4s/Attribute.scala
  core/common/src/main/scala/org/typelevel/otel4s/AttributeKey.scala
  core/common/src/main/scala/org/typelevel/otel4s/Attributes.scala
  core/common/src/test/scala/org/typelevel/otel4s/AttributeSuite.scala
  core/common/src/test/scala/org/typelevel/otel4s/scalacheck/Gens.scala
Due: Label module:core PRs

Add `BaggageManager` utility
  build.sbt
  core/all/src/main/scala/org/typelevel/otel4s/Otel4s.scala
  core/common/src/main/scala/org/typelevel/otel4s/baggage/Baggage.scala
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
  core/common/src/test/scala/org/typelevel/otel4s/baggage/BaggageManagerSuite.scala
  oteljava/all/src/main/scala/org/typelevel/otel4s/oteljava/OtelJava.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/AttributeConverters.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/baggage/BaggageConverters.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/baggage/BaggageManagerImpl.scala
  oteljava/common/src/test/scala/org/typelevel/otel4s/oteljava/baggage/BaggageConvertersSuite.scala
  oteljava/common/src/test/scala/org/typelevel/otel4s/oteljava/baggage/BaggageManagerImplSuite.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/baggage/SdkBaggageManager.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/baggage/SdkBaggageManagerSuite.scala
  sdk/testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/OpenTelemetrySdkTestkit.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkContextKeys.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label trace PRs

deploy: 4450fc07e79973861ea043f3892f9d261fb5ac6f
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Add `sdk.Context#getOrElse`
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/baggage/SdkBaggageManager.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/context/Context.scala
Due: Label module:sdk PRs

deploy: a04dd8fb68597b3bcc4a532a05656e5bbcce4ad6
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

core-common: add `AttributeKey.Focus`
  core/common/src/main/scala/org/typelevel/otel4s/Attribute.scala
  core/common/src/main/scala/org/typelevel/otel4s/AttributeKey.scala
  core/common/src/main/scala/org/typelevel/otel4s/Attributes.scala
  core/common/src/test/scala/org/typelevel/otel4s/AttributeSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label metrics PRs

core-common: add `AttributeKey.Make`
  core/common/src/main/scala/org/typelevel/otel4s/Attribute.scala
  core/common/src/test/scala/org/typelevel/otel4s/AttributeSuite.scala
Due: Label module:core PRs

docs: add `Baggage` example
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
  docs/instrumentation/baggage.md
  docs/instrumentation/directory.conf
Due: Label documentation PRs, Label module:core PRs

deploy: 1267e2842794c083cc477cbfea291ec1052e14b3
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Add `opentelemetry-api-incubator` dependency
  build.sbt
Due: none

deploy: ea3cd5d3faaf5a873c89b350b91fd9526b9e2e56
  customization/histogram-custom-buckets/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/metrics.html
  instrumentation/tracing.html
  oteljava/overview.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

core-common: add `Attribute.from`
  core/common/src/main/scala/org/typelevel/otel4s/Attribute.scala
  core/common/src/main/scala/org/typelevel/otel4s/AttributeKey.scala
  core/common/src/test/scala/org/typelevel/otel4s/AttributeSuite.scala
Due: Label module:core PRs

deploy: 2b6271d3e44a7d5cf9364136efca60e631311ebc
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs
