Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

Label documentation PRs:
  label:
    add:
    - documentation
    remove: []

Label module:core PRs:
  label:
    add:
    - module:core
    remove: []

Label module:oteljava PRs:
  label:
    add:
    - module:oteljava
    remove: []

Label module:sdk PRs:
  label:
    add:
    - module:sdk
    remove: []

Label module:sdk:contrib:aws PRs:
  label:
    add:
    - module:sdk:contrib:aws
    remove: []

Label module:sdk:exporter PRs:
  label:
    add:
    - module:sdk:exporter
    remove: []

Label module:semconv PRs:
  label:
    add:
    - module:semconv
    remove: []

Label metrics PRs:
  label:
    add:
    - metrics
    remove: []

Label trace PRs:
  label:
    add:
    - tracing
    remove: []

deploy: 27fb1f46e786d8becbead1d4a97b66129a2e162a
  oteljava/metrics-jvm-runtime.html
Due: Label module:oteljava PRs

deploy: bf5dbb091746611a6c67f7bb59fb20ac9b1d41df
  customization/histogram-custom-buckets/index.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/logs.html
  instrumentation/metrics.html
  instrumentation/tracing.html
  oteljava/agent.html
  oteljava/overview.html
Due: Label module:oteljava PRs

oteljava: dynamically calculate whether instrument is enabled
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/SeverityConversions.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/CounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/GaugeBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/HistogramBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/MeterImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/UpDownCounterBuilderImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/TracerImpl.scala
Due: Label module:oteljava PRs, Label metrics PRs, Label trace PRs

deploy: ff551240163f5c7de83f5757160b1e956eaf557f
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Remove deprecated methods
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/common/src/main/scala/org/typelevel/otel4s/package.scala
  core/common/src/test/scala/org/typelevel/otel4s/meta/InstrumentMetaSuite.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/meta/InstrumentMeta.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/meta/InstrumentMeta.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerProvider.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/meta/InstrumentMeta.scala
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricsTestkit.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label metrics PRs, Label trace PRs

Bump tlBaseVersion to 1.0
  build.sbt
Due: none

Fix compilation issues
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricsTestkit.scala
Due: Label module:oteljava PRs, Label metrics PRs

Add loggerProvider to the OtelJavaTestkit's toString
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
Due: Label module:oteljava PRs

Remove `withInMemory*`
  docs/oteljava/testkit.md
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricsTestkit.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs, Label trace PRs

deploy: f5c6ed103892cb70de7e98431dd01aa517392371
  oteljava/testkit.html
Due: Label module:oteljava PRs

Remove old scalafix rules
  .github/workflows/ci.yml
  build.sbt
  scalafix/input/src/main/scala/example/V0_5_0Rewrites.scala
  scalafix/output/src/main/scala/example/V0_5_0Rewrites.scala
  scalafix/rules/src/main/resources/META-INF/services/scalafix.v1.Rule
  scalafix/rules/src/main/scala/org/typelevel/otel4s/scalafix/V0_5_0Rewrites.scala
  scalafix/tests/src/test/scala/org/typelevel/otel4s/scalafix/RuleSuite.scala
Due: none

oteljava-testkit: Remove custom projection models
  docs/instrumentation/metrics-cats-effect-io-runtime.md
  docs/instrumentation/semantic-conventions.md
  docs/oteljava/testkit.md
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/MeterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/trace/TracerSuite.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScope.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResource.scala
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/FromLogRecordData.scala
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/FromMetricData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricsTestkit.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/HistogramPointData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/Metric.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/MetricData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/PointData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/QuantileData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/SummaryPointData.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/FromSpanData.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
  oteljava/trace-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkitSuite.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs, Label trace PRs

Refine API
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Use path-dependent types
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Refactor `PointExpectation`
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Define basic MetricExpectation and MetricMismatch types
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

Improve MetricExpectation ergonomics
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Attributes / InstrumentationScope / TelemetryResource cleanup
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/ExpectationChecks.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
Due: Label module:oteljava PRs

Add Mismatch types to expectations
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/ExpectationChecks.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
Due: Label module:oteljava PRs

Add Mismatch type to the Metrics and Point expectation
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/ExpectationChecks.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Add Attributes/InstrumentationScope/TelemetryResource expectation
  build.sbt
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Refine AttributesExpectation
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Define MetricExpectation per instrument
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/ExpectationChecks.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Add NumberComparison
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/NumberComparison.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Replace case classes with sealed traits
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Add `message` to `Mismatch`
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Use BucketBoundaries
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Improve PointExpectation api
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Cleanup
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectationSuite.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectationSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/NumberComparison.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Cleanup PointExpectation
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Cleanup MetricExpectation
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Add `withValue` overloads
  docs/oteljava/directory.conf
  docs/oteljava/testkit-metrics.md
  docs/oteljava/testkit.md
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectationsSuite.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

Update tests
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
Due: Label module:oteljava PRs, Label metrics PRs

AttributesExpectation: rename predicate to where
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectation.scala
  oteljava/common-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/AttributesExpectationSuite.scala
Due: Label module:oteljava PRs

Add `withAttributesEmpty`
  docs/oteljava/testkit-metrics.md
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScopeExpectation.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResourceExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/PointExpectation.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

MetricExpectation: properly expose predicate API
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Make NumberComparison sealed
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/NumberComparison.scala
Due: Label module:oteljava PRs, Label metrics PRs

Update MetricExpectation and docs
  docs/oteljava/testkit-metrics.md
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs

MetricExpectations: reorganize traits
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectations.scala
Due: Label module:oteljava PRs, Label metrics PRs

Simplify MetricExpectation
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricExpectation.scala
Due: Label module:oteljava PRs, Label metrics PRs

Path conditions:
  Label documentation PRs: any of: ^docs/
  Label module:core PRs: any of: ^core/
  Label module:oteljava PRs: any of: ^oteljava/
  Label module:sdk PRs: any of: ^sdk/
  Label module:sdk:contrib:aws PRs: any of: ^sdk-contrib/aws/
  Label module:sdk:exporter PRs: any of: ^sdk-exporter/
  Label module:semconv PRs: any of: ^semconv/
  Label metrics PRs: any of: /(metrics)/
  Label trace PRs: any of: /(trace)/
