Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

Label documentation PRs:
  label:
    add:
    - documentation
    remove: []

Label module:core PRs:
  label:
    add:
    - module:core
    remove: []

Label module:oteljava PRs:
  label:
    add:
    - module:oteljava
    remove: []

Label module:sdk PRs:
  label:
    add:
    - module:sdk
    remove: []

Label module:sdk:contrib:aws PRs:
  label:
    add:
    - module:sdk:contrib:aws
    remove: []

Label module:sdk:exporter PRs:
  label:
    add:
    - module:sdk:exporter
    remove: []

Label module:semconv PRs:
  label:
    add:
    - module:semconv
    remove: []

Label metrics PRs:
  label:
    add:
    - metrics
    remove: []

Label trace PRs:
  label:
    add:
    - tracing
    remove: []

Update cats-effect, fix implementation
  build.sbt
  examples/src/main/scala/ContextStorageExample.scala
  java/context-storage/src/main/resources/META-INF/services/io.opentelemetry.context.ContextStorageProvider
  java/context-storage/src/main/scala/org/typelevel/otel4s/java/IOLocalContextStorage.scala
  oteljava/context-storage/src/main/resources/META-INF/services/io.opentelemetry.context.ContextStorageProvider
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/IOLocalContextStorage.scala
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/IOLocalContextStorageProvider.scala
  oteljava/context-storage/src/test/scala/org/typelevel/otel4s/oteljava/IOLocalContextStorageSuite.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBuilderImpl.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/ExemplarFilterAutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/MetricExportersAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/ContextPropagatorsAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SamplerAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SpanExportersAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SpanLimitsAutoConfigure.scala
Due: Label module:oteljava PRs, Label module:sdk PRs, Label metrics PRs, Label trace PRs

Fix CI workflow
  .github/workflows/ci.yml
  examples/src/main/scala/ContextStorageExample.scala
Due: none

Update cats-effect to `3.6.x`, resolve compilation issues
  build.sbt
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/ExemplarFilterAutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/MetricExportersAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/ContextPropagatorsAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SamplerAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SpanExportersAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SpanLimitsAutoConfigure.scala
Due: Label module:sdk PRs, Label metrics PRs, Label trace PRs

oteljava: refactor Metrics, Traces, and OtelJava API
  docs/oteljava/tracing-java-interop.md
  docs/tracing-context-propagation.md
  examples/src/main/scala/KleisliExample.scala
  examples/src/main/scala/PekkoHttpExample.scala
  oteljava/all/src/main/scala/org/typelevel/otel4s/oteljava/OtelJava.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/OtelJavaSuite.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/Metrics.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/Traces.scala
Due: Label documentation PRs, Label module:oteljava PRs, Label metrics PRs, Label trace PRs

Update examples/src/main/scala/PekkoHttpExample.scala
  examples/src/main/scala/PekkoHttpExample.scala
Due: none

Fix compilation issues
  docs/oteljava/tracing-java-interop.md
  examples/src/main/scala/PekkoHttpExample.scala
Due: Label documentation PRs

deploy: b71f9399a3eff9d9dcefafe04a18f1544d7b255d
  oteljava/tracing-java-interop.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

core-common: remove public 'localForIOLocal' instance
  core/common/src/main/scala/org/typelevel/otel4s/context/LocalProvider.scala
  core/common/src/main/scala/org/typelevel/otel4s/instances/AllInstances.scala
  core/common/src/main/scala/org/typelevel/otel4s/instances/LocalInstances.scala
  core/common/src/main/scala/org/typelevel/otel4s/instances/package.scala
  core/common/src/test/scala/org/typelevel/otel4s/context/LocalProviderSuite.scala
  core/common/src/test/scala/org/typelevel/otel4s/instances/LocalInstancesSuite.scala
  docs/tracing-context-propagation.md
  oteljava/trace/src/test/scala/org/typelevel/otel4s/oteljava/trace/TraceScopeImplSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilderSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTraceScopeSuite.scala
Due: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label trace PRs

Use `IORuntime.isUnderFiberContext()` to fallback to the global thread local
  build.sbt
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/IOLocalContextStorage.scala
  oteljava/context-storage/src/test/scala/org/typelevel/otel4s/oteljava/IOLocalContextStorageSuite.scala
Due: Label module:oteljava PRs

deploy: bed8e4866b6a379e20dcb48bded3aaf9f52589ed
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

docs: simplified docker setup with otel-lgtm image
  docs/examples/grafana/README.md
  docs/examples/grafana/dashboards/metrics-dashboard.json
  docs/examples/grafana/dashboards/traces-dashboard.json
Due: Label documentation PRs

deploy: 6b3936e575c1a334643f2e80575527adac7864c3
  examples/grafana/dashboards/metrics-dashboard.json
  examples/grafana/dashboards/traces-dashboard.json
  examples/grafana/index.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: aac414dde263d50f3c5147f0e6e086488eb46924
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: c6a50c4ce3afc5480607a2bec12aa083a7bc988b
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 772f892c0890c492623b522623ebc8864153fc56
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

deploy: 9c91191a96da2a5356cbad5f3264888eaca0af69
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Use cats-effect 3.6.0-RC1
  build.sbt
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/IOLocalContextStorage.scala
  oteljava/context-storage/src/test/scala/org/typelevel/otel4s/oteljava/IOLocalContextStorageSuite.scala
Due: Label module:oteljava PRs

deploy: 3819ff74b8d5973dc903b88a17a2064ff2934e3d
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Fix docs
  build.sbt
Due: none

Update cats-effect to `3.6.0-RC1`, resolve compilation issues
  build.sbt
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/ExemplarFilterAutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/MetricExportersAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/ContextPropagatorsAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SamplerAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SpanExportersAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SpanLimitsAutoConfigure.scala
Due: Label module:sdk PRs, Label metrics PRs, Label trace PRs

deploy: 909be5836c08366034ca12483f4242899908206a
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:sdk PRs

Add `IORuntimeMetrics`
  .github/workflows/ci.yml
  build.sbt
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/BatchCallback.scala
  docs/instrumentation/directory.conf
  docs/instrumentation/metrics-cats-effect-io-runtime.md
  instrumentation/metrics/js-native/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
  instrumentation/metrics/js-native/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  instrumentation/metrics/jvm/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  instrumentation/metrics/shared/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetrics.scala
Due: Label documentation PRs, Label module:core PRs, Label metrics PRs

deploy: e050e4739740f17d4f75d3f381b5ac64c1fea8aa
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Add minimal documentation
  build.sbt
  docs/oteljava/directory.conf
  docs/oteljava/tracing-context-propagation.md
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/IOLocalContextStorage.scala
Due: Label documentation PRs, Label module:oteljava PRs

Run scalafix
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/IOLocalContextStorage.scala
Due: Label module:oteljava PRs

Update doc example
  docs/oteljava/tracing-context-propagation.md
Due: Label documentation PRs

Regenerate ci.yml
  .github/workflows/ci.yml
  build.sbt
Due: none

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

Fix compilation issue
  core/common/src/main/scala/org/typelevel/otel4s/context/LocalProvider.scala
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/IOLocalContextStorage.scala
Due: Label module:core PRs, Label module:oteljava PRs

deploy: 6783b22da24aa8de7077af6d2bcf1d19b79ec9bc
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Minor documentation tweaks
  docs/oteljava/tracing-context-propagation.md
Due: Label documentation PRs

deploy: f2d085011dce579081c7b8e1e1abfa8e9426c0ef
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

docs: add Grafana dashboard link
  docs/instrumentation/grafana_dashboard.png
  docs/instrumentation/metrics-cats-effect-io-runtime.md
  docs/oteljava/tracing-context-propagation.md
Due: Label documentation PRs

deploy: 26ff053ec7879fd736556bd35718b1bae3d4d2be
  instrumentation/grafana_dashboard.png
  instrumentation/metrics-cats-effect-io-runtime.html
  oteljava/tracing-context-propagation.html
  sdk/aws-xray.html
  sdk/prometheus-exporter.html
Due: Label module:oteljava PRs, Label module:sdk PRs

oteljava: move `IOLocalContextStorage` to the `context` package
  docs/oteljava/tracing-context-propagation.md
  examples/src/main/scala/ContextStorageExample.scala
  oteljava/context-storage/src/main/resources/META-INF/services/io.opentelemetry.context.ContextStorageProvider
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorage.scala
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorageProvider.scala
  oteljava/context-storage/src/test/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorageSuite.scala
Due: Label documentation PRs, Label module:oteljava PRs

Use `MapRef.apply`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SpanStorage.scala
Due: Label module:sdk PRs, Label trace PRs

Aggregate `oteljava` project
  build.sbt
Due: none

Path conditions:
  Label documentation PRs: any of: ^docs/
  Label module:core PRs: any of: ^core/
  Label module:oteljava PRs: any of: ^oteljava/
  Label module:sdk PRs: any of: ^sdk/
  Label module:sdk:contrib:aws PRs: any of: ^sdk-contrib/aws/
  Label module:sdk:exporter PRs: any of: ^sdk-exporter/
  Label module:semconv PRs: any of: ^semconv/
  Label metrics PRs: any of: /(metrics)/
  Label trace PRs: any of: /(trace)/
