Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

Label documentation PRs:
  label:
    add:
    - documentation
    remove: []

Label module:core PRs:
  label:
    add:
    - module:core
    remove: []

Label module:oteljava PRs:
  label:
    add:
    - module:oteljava
    remove: []

Label module:sdk PRs:
  label:
    add:
    - module:sdk
    remove: []

Label module:sdk:contrib:aws PRs:
  label:
    add:
    - module:sdk:contrib:aws
    remove: []

Label module:sdk:exporter PRs:
  label:
    add:
    - module:sdk:exporter
    remove: []

Label module:semconv PRs:
  label:
    add:
    - module:semconv
    remove: []

Label metrics PRs:
  label:
    add:
    - metrics
    remove: []

Label trace PRs:
  label:
    add:
    - tracing
    remove: []

docs: rewrite "Logs" page as "Logs API reference", add "Bridge Scribe logs into OpenTelemetry" page
  docs/directory.conf
  docs/how-to-logs/bridge-scribe-logs-into-opentelemetry.md
  docs/how-to-logs/directory.conf
  docs/how-to-logs/grafana-logs-example.png
  docs/how-to-logs/index.md
  docs/instrumentation/logs.md
Due: Label documentation PRs

Revert "Update sbt-scala-native-crossproject to 1.4.0"
  project/plugins.sbt
Due: none

docs: rewrite "Semantic conventions" pages
  docs/directory.conf
  docs/explanations/directory.conf
  docs/explanations/semantic-conventions-and-stability.md
  docs/how-to-metrics/index.md
  docs/how-to-metrics/record-application-metrics.md
  docs/how-to-semantic-conventions/create-metrics-from-semantic-metric-specs.md
  docs/how-to-semantic-conventions/directory.conf
  docs/how-to-semantic-conventions/index.md
  docs/how-to-semantic-conventions/use-semantic-attributes.md
  docs/how-to-testkit/directory.conf
  docs/how-to-testkit/index.md
  docs/how-to-testkit/test-metrics-against-semantic-conventions.md
  docs/how-to-testkit/test-metrics-emitted-by-your-code.md
  docs/how-to-tracing/create-spans-around-effectful-code.md
  docs/instrumentation/semantic-conventions.md
Due: Label documentation PRs

docs: refine semantic conventions changes
  docs/explanations/modules-and-module-families.md
  docs/instrumentation/semantic-conventions.md
  semconv/metrics/stable/src/main/scala/org/typelevel/otel4s/semconv/MetricSpec.scala
Due: Label documentation PRs, Label module:semconv PRs, Label metrics PRs

deploy: 3917cd0ec133b4f820bb8404031979206a65f4d6
  how-to-metrics/register-jvm-runtime-metrics.html
  how-to-tracing/use-otel4s-with-pekko-http-instrumentation.html
Due: none

docs: rewrite index page
  README.md
  docs/how-to-metrics/directory.conf
  docs/how-to-metrics/index.md
  docs/how-to-metrics/provide-a-no-op-meter.md
  docs/how-to-tracing/directory.conf
  docs/how-to-tracing/index.md
  docs/how-to-tracing/provide-a-no-op-tracer.md
  docs/index.md
  docs/instrumentation/metrics.md
  docs/instrumentation/tracing.md
Due: Label documentation PRs

docs: refine styles
  build.sbt
  docs/site.css
Due: Label documentation PRs

deploy: 8ed64c89e3e8361080c283fc3fbb6b13c85265a4
  how-to-metrics/register-jvm-runtime-metrics.html
  how-to-tracing/use-otel4s-with-pekko-http-instrumentation.html
Due: none

deploy: bfb776fceb78174564bcc09c9060d0fcfd1669e2
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  how-to-jvm-setup/set-up-otel4s-in-a-jvm-application.html
  how-to-jvm-setup/use-the-otel4s-java-agent.html
  how-to-tracing/use-otel4s-with-pekko-http-instrumentation.html
  index.html
Due: none

Add sbt-scalafix plugin explicitly
  project/plugins.sbt
Due: none

Update import statements for LogRecordExporter and SimpleLogRecordProcessor
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
Due: Label module:oteljava PRs

Fix import statements for OpenTelemetry SDK
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
Due: Label module:oteljava PRs, Label trace PRs

Update Schema URL
  semconv/stable/src/main/scala/org/typelevel/otel4s/semconv/SchemaUrls.scala
Due: Label module:semconv PRs

deploy: 64530d68a436a428677dcc7178f1e1823071cb52
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  how-to-jvm-setup/set-up-otel4s-in-a-jvm-application.html
  how-to-jvm-setup/use-the-otel4s-java-agent.html
  how-to-tracing/use-otel4s-with-pekko-http-instrumentation.html
  index.html
Due: none

Path conditions:
  Label documentation PRs: any of: ^docs/
  Label module:core PRs: any of: ^core/
  Label module:oteljava PRs: any of: ^oteljava/
  Label module:sdk PRs: any of: ^sdk/
  Label module:sdk:contrib:aws PRs: any of: ^sdk-contrib/aws/
  Label module:sdk:exporter PRs: any of: ^sdk-exporter/
  Label module:semconv PRs: any of: ^semconv/
  Label metrics PRs: any of: /(metrics)/
  Label trace PRs: any of: /(trace)/
