Repository typelevel/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: Label documentation PRs
  conditions:
  - files~=^docs/
  actions:
    label:
      add:
      - documentation
      remove: []
- name: Label module:core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - module:core
      remove: []
- name: Label module:oteljava PRs
  conditions:
  - files~=^oteljava/
  actions:
    label:
      add:
      - module:oteljava
      remove: []
- name: Label module:sdk PRs
  conditions:
  - files~=^sdk/
  actions:
    label:
      add:
      - module:sdk
      remove: []
- name: Label module:sdk:contrib:aws PRs
  conditions:
  - files~=^sdk-contrib/aws/
  actions:
    label:
      add:
      - module:sdk:contrib:aws
      remove: []
- name: Label module:sdk:exporter PRs
  conditions:
  - files~=^sdk-exporter/
  actions:
    label:
      add:
      - module:sdk:exporter
      remove: []
- name: Label module:semconv PRs
  conditions:
  - files~=^semconv/
  actions:
    label:
      add:
      - module:semconv
      remove: []
- name: Label metrics PRs
  conditions:
  - files~=/(metrics)/
  actions:
    label:
      add:
      - metrics
      remove: []
- name: Label trace PRs
  conditions:
  - files~=/(trace)/
  actions:
    label:
      add:
      - tracing
      remove: []
- name: Label Scala Steward PRs
  conditions:
  - author=typelevel-steward[bot]
  actions:
    label:
      add:
      - dependencies
      remove: []

Remove deprecated testkit models and APIs
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScope.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResource.scala
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/FromLogRecordData.scala
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/FromMetricData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricsTestkit.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/HistogramPointData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/Metric.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/MetricData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/PointData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/QuantileData.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/SummaryPointData.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/FromSpanData.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
Due: Label module:oteljava PRs, Label metrics PRs, Label trace PRs

deploy: 11dacb78b41e5da57c8230b57ca7e8dd0c01a1b1
  customization/histogram-custom-buckets/index.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/logs.html
  instrumentation/metrics.html
  instrumentation/tracing.html
  oteljava/agent.html
  oteljava/overview.html
Due: Label module:oteljava PRs

deploy: 90652419193363a349bf251c524d9f079d6379c9
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit-logs.html
  oteljava/testkit-metrics.html
  oteljava/testkit-traces.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Remove unused dependency
  build.sbt
Due: none

deploy: b861f38b11630bb22f4ee9d870f6ee31a686c92f
  oteljava/metrics-jvm-runtime.html
Due: Label module:oteljava PRs

Remove redundant closing braces in the `block_code_snippet` template
  buildscripts/semantic-convention/templates/registry/otel4s/attributes/weaver.yaml
  buildscripts/semantic-convention/templates/registry/otel4s/metrics-tests/weaver.yaml
Due: none

docs: add How-to | JVM setup section
  docs/directory.conf
  docs/how-to-jvm-setup/directory.conf
  docs/how-to-jvm-setup/index.md
  docs/how-to-jvm-setup/set-up-otel4s-in-a-jvm-application.md
  docs/how-to-jvm-setup/use-the-global-opentelemetry-instance.md
Due: Label documentation PRs

deploy: 05e2e66345e16163c6c961bae318b88700bc5583
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  how-to-jvm-setup/index.html
  how-to-jvm-setup/set-up-otel4s-in-a-jvm-application.html
  how-to-jvm-setup/use-the-global-opentelemetry-instance.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/testkit-logs.html
  oteljava/testkit-metrics.html
  oteljava/testkit-traces.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

docs: add `How-to | Metrics` section
  docs/directory.conf
  docs/how-to-jvm-setup/index.md
  docs/how-to-jvm-setup/set-up-otel4s-in-a-jvm-application.md
  docs/how-to-jvm-setup/use-the-global-opentelemetry-instance.md
  docs/how-to-metrics/directory.conf
  docs/how-to-metrics/index.md
  docs/how-to-metrics/record-application-metrics.md
  docs/how-to-metrics/register-cats-effect-runtime-metrics.md
Due: Label documentation PRs

docs: add `How-to | Tracing` section
  docs/directory.conf
  docs/how-to-jvm-setup/set-up-otel4s-in-a-jvm-application.md
  docs/how-to-jvm-setup/use-the-global-opentelemetry-instance.md
  docs/how-to-tracing/create-spans-around-effectful-code.md
  docs/how-to-tracing/directory.conf
  docs/how-to-tracing/index.md
  docs/how-to-tracing/propagate-trace-context-across-service-boundaries.md
  docs/how-to-tracing/use-otel4s-with-java-instrumented-libraries.md
Due: Label documentation PRs

docs: improve `How-to | Tracing` with setup, context, and tracer examples
  docs/how-to-tracing/create-spans-around-effectful-code.md
  docs/how-to-tracing/index.md
  docs/how-to-tracing/propagate-trace-context-across-service-boundaries.md
  docs/how-to-tracing/use-otel4s-with-java-instrumented-libraries.md
Due: Label documentation PRs

deploy: 48c201a9aea47b015738d3606ff9f1f60c5e3a54
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  how-to-jvm-setup/set-up-otel4s-in-a-jvm-application.html
  how-to-jvm-setup/use-the-global-opentelemetry-instance.html
  how-to-metrics/index.html
  how-to-metrics/record-application-metrics.html
  how-to-metrics/register-cats-effect-runtime-metrics.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit-logs.html
  oteljava/testkit-metrics.html
  oteljava/testkit-traces.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

docs: add "Register JVM runtime metrics" how-to section
  docs/how-to-metrics/directory.conf
  docs/how-to-metrics/index.md
  docs/how-to-metrics/register-cats-effect-runtime-metrics.md
  docs/how-to-metrics/register-jvm-runtime-metrics.md
  docs/oteljava/directory.conf
  docs/oteljava/metrics-jvm-runtime.md
Due: Label documentation PRs

deploy: 8f04d789b5abf015381d201e4fa599df5756e035
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  how-to-jvm-setup/index.html
  how-to-jvm-setup/set-up-otel4s-in-a-jvm-application.html
  how-to-jvm-setup/use-the-global-opentelemetry-instance.html
  how-to-metrics/index.html
  how-to-metrics/register-cats-effect-runtime-metrics.html
  how-to-tracing/create-spans-around-effectful-code.html
  how-to-tracing/index.html
  how-to-tracing/propagate-trace-context-across-service-boundaries.html
  how-to-tracing/use-otel4s-with-java-instrumented-libraries.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit-logs.html
  oteljava/testkit-metrics.html
  oteljava/testkit-traces.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs

deploy: e2235ac8471c996b74586c57f3839835ba5f89d2
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  how-to-jvm-setup/index.html
  how-to-jvm-setup/set-up-otel4s-in-a-jvm-application.html
  how-to-jvm-setup/use-the-global-opentelemetry-instance.html
  how-to-metrics/index.html
  how-to-metrics/record-application-metrics.html
  how-to-metrics/register-jvm-runtime-metrics.html
  how-to-tracing/create-spans-around-effectful-code.html
  how-to-tracing/index.html
  how-to-tracing/propagate-trace-context-across-service-boundaries.html
  how-to-tracing/use-otel4s-with-java-instrumented-libraries.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/overview.html
  oteljava/testkit-logs.html
  oteljava/testkit-metrics.html
  oteljava/testkit-traces.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

docs: add "Customize histogram buckets" how-to page
  docs/customization/directory.conf
  docs/customization/histogram-custom-buckets/README.md
  docs/directory.conf
  docs/explanations/directory.conf
  docs/explanations/histogram-bucket-customization-with-views.md
  docs/how-to-metrics/customize-histogram-buckets.md
  docs/how-to-metrics/directory.conf
  docs/how-to-metrics/index.md
  docs/how-to-metrics/record-application-metrics.md
Due: Label documentation PRs

docs: add "Keep otel4s context in sync with OpenTelemetry Java" how-to page
  docs/how-to-jvm-setup/directory.conf
  docs/how-to-jvm-setup/index.md
  docs/how-to-jvm-setup/keep-otel4s-context-in-sync-with-opentelemetry-java.md
  docs/how-to-jvm-setup/use-the-global-opentelemetry-instance.md
  docs/how-to-tracing/index.md
  docs/how-to-tracing/propagate-trace-context-across-service-boundaries.md
  docs/how-to-tracing/use-otel4s-with-java-instrumented-libraries.md
  docs/oteljava/agent.md
  docs/oteljava/directory.conf
  docs/oteljava/tracing-context-propagation.md
Due: Label documentation PRs

deploy: 22af3fd777acb6a6358708105bcd76a472cc0a39
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  explanations/histogram-bucket-customization-with-views.html
  how-to-jvm-setup/index.html
  how-to-jvm-setup/keep-otel4s-context-in-sync-with-opentelemetry-java.html
  how-to-jvm-setup/use-the-global-opentelemetry-instance.html
  how-to-metrics/customize-histogram-buckets.html
  how-to-metrics/index.html
  how-to-metrics/register-cats-effect-runtime-metrics.html
  how-to-metrics/register-jvm-runtime-metrics.html
  how-to-tracing/create-spans-around-effectful-code.html
  how-to-tracing/index.html
  how-to-tracing/propagate-trace-context-across-service-boundaries.html
  how-to-tracing/use-otel4s-with-java-instrumented-libraries.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/overview.html
  oteljava/testkit-logs.html
  oteljava/testkit-metrics.html
  oteljava/testkit-traces.html
  oteljava/testkit.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

docs: add "Trace Resource and fs2.Stream code" how-to and explanation pages
  docs/explanations/directory.conf
  docs/explanations/tracing-resource-and-fs2-stream-scopes.md
  docs/how-to-tracing/create-spans-around-effectful-code.md
  docs/how-to-tracing/directory.conf
  docs/how-to-tracing/index.md
  docs/how-to-tracing/trace-resource-and-fs2-stream-code.md
Due: Label documentation PRs

deploy: 0f5a8c4e49b6da64db279a31853e5bf3366ff063
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  explanations/histogram-bucket-customization-with-views.html
  explanations/tracing-resource-and-fs2-stream-scopes.html
  how-to-jvm-setup/index.html
  how-to-jvm-setup/keep-otel4s-context-in-sync-with-opentelemetry-java.html
  how-to-jvm-setup/set-up-otel4s-in-a-jvm-application.html
  how-to-jvm-setup/use-the-global-opentelemetry-instance.html
  how-to-metrics/customize-histogram-buckets.html
  how-to-metrics/index.html
  how-to-metrics/record-application-metrics.html
  how-to-metrics/register-cats-effect-runtime-metrics.html
  how-to-metrics/register-jvm-runtime-metrics.html
  how-to-tracing/create-spans-around-effectful-code.html
  how-to-tracing/index.html
  how-to-tracing/propagate-trace-context-across-service-boundaries.html
  how-to-tracing/trace-resource-and-fs2-stream-code.html
  how-to-tracing/use-otel4s-with-java-instrumented-libraries.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/overview.html
  oteljava/testkit-logs.html
  oteljava/testkit-metrics.html
  oteljava/testkit-traces.html
  oteljava/testkit.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

docs: add "Trace Resource and fs2.Stream code" how-to and explanation pages
  docs/explanations/tracing-resource-and-fs2-stream-scopes.md
Due: Label documentation PRs

docs: refine "Trace Resource and fs2.Stream code" page
  docs/explanations/tracing-resource-and-fs2-stream-scopes.md
  docs/how-to-tracing/trace-resource-and-fs2-stream-code.md
Due: Label documentation PRs

docs: update tracing documentation with refined resources and examples
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  docs/instrumentation/tracing.md
Due: Label documentation PRs, Label module:core PRs, Label trace PRs

docs: add "Root spans and tracing scopes" explanation page
  docs/explanations/directory.conf
  docs/explanations/root-spans-and-tracing-scopes.md
  docs/how-to-tracing/index.md
  docs/instrumentation/tracing.md
Due: Label documentation PRs

docs: update "Trace Resource and fs2.Stream code" how-to and explanation pages (#1266)
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  docs/explanations/tracing-resource-and-fs2-stream-scopes.md
  docs/how-to-tracing/trace-resource-and-fs2-stream-code.md
  docs/instrumentation/tracing.md
Due: Label documentation PRs, Label module:core PRs, Label trace PRs

deploy: 2fea837e2d19b1edf33483fb9d315dbdf834f7e4
  explanations/tracing-resource-and-fs2-stream-scopes.html
  how-to-tracing/trace-resource-and-fs2-stream-code.html
  instrumentation/tracing.html
Due: none

deploy: e709945ac0ce2109bf75fd73fbb46834e98b10a0
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  explanations/histogram-bucket-customization-with-views.html
  explanations/root-spans-and-tracing-scopes.html
  explanations/tracing-resource-and-fs2-stream-scopes.html
  how-to-jvm-setup/index.html
  how-to-jvm-setup/keep-otel4s-context-in-sync-with-opentelemetry-java.html
  how-to-jvm-setup/set-up-otel4s-in-a-jvm-application.html
  how-to-jvm-setup/use-the-global-opentelemetry-instance.html
  how-to-metrics/customize-histogram-buckets.html
  how-to-metrics/index.html
  how-to-metrics/record-application-metrics.html
  how-to-metrics/register-cats-effect-runtime-metrics.html
  how-to-metrics/register-jvm-runtime-metrics.html
  how-to-tracing/create-spans-around-effectful-code.html
  how-to-tracing/index.html
  how-to-tracing/propagate-trace-context-across-service-boundaries.html
  how-to-tracing/trace-resource-and-fs2-stream-code.html
  how-to-tracing/use-otel4s-with-java-instrumented-libraries.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  modules-structure.html
  oteljava/agent.html
  oteljava/overview.html
  oteljava/testkit-logs.html
  oteljava/testkit-metrics.html
  oteljava/testkit-traces.html
  oteljava/testkit.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

docs: add "Use unmanaged spans when a span must end outside its scope" page
  docs/how-to-tracing/create-spans-around-effectful-code.md
  docs/how-to-tracing/index.md
  docs/how-to-tracing/trace-resource-and-fs2-stream-code.md
  docs/how-to-tracing/use-unmanaged-spans-when-a-span-must-end-outside-its-scope.md
  docs/instrumentation/tracing.md
Due: Label documentation PRs

docs: rename and update "Root spans and tracing scopes"
  docs/explanations/choosing-parent-spans-and-tracing-scopes.md
  docs/explanations/directory.conf
  docs/how-to-tracing/index.md
  docs/how-to-tracing/use-unmanaged-spans-when-a-span-must-end-outside-its-scope.md
  docs/instrumentation/tracing.md
Due: Label documentation PRs

deploy: b0d3a1cb12c69547888be88e746fa9697c706f51
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  explanations/histogram-bucket-customization-with-views.html
  explanations/root-spans-and-tracing-scopes.html
  explanations/tracing-resource-and-fs2-stream-scopes.html
  how-to-jvm-setup/index.html
  how-to-jvm-setup/keep-otel4s-context-in-sync-with-opentelemetry-java.html
  how-to-jvm-setup/set-up-otel4s-in-a-jvm-application.html
  how-to-jvm-setup/use-the-global-opentelemetry-instance.html
  how-to-metrics/customize-histogram-buckets.html
  how-to-metrics/index.html
  how-to-metrics/record-application-metrics.html
  how-to-metrics/register-cats-effect-runtime-metrics.html
  how-to-metrics/register-jvm-runtime-metrics.html
  how-to-tracing/index.html
  how-to-tracing/propagate-trace-context-across-service-boundaries.html
  how-to-tracing/trace-resource-and-fs2-stream-code.html
  how-to-tracing/use-otel4s-with-java-instrumented-libraries.html
  how-to-tracing/use-unmanaged-spans-when-a-span-must-end-outside-its-scope.html
  index.html
  instrumentation/baggage.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/overview.html
  oteljava/testkit-logs.html
  oteljava/testkit-metrics.html
  oteljava/testkit-traces.html
  oteljava/testkit.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

docs: add "Work with baggage" how-to page
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
  docs/how-to-tracing/directory.conf
  docs/how-to-tracing/index.md
  docs/how-to-tracing/propagate-trace-context-across-service-boundaries.md
  docs/how-to-tracing/work-with-baggage.md
  docs/instrumentation/baggage.md
  docs/instrumentation/directory.conf
Due: Label documentation PRs, Label module:core PRs

deploy: c8387ec808474fdbc8f1b024ecdf40a73bce4677
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  explanations/choosing-parent-spans-and-tracing-scopes.html
  explanations/histogram-bucket-customization-with-views.html
  explanations/tracing-resource-and-fs2-stream-scopes.html
  how-to-jvm-setup/index.html
  how-to-jvm-setup/keep-otel4s-context-in-sync-with-opentelemetry-java.html
  how-to-jvm-setup/set-up-otel4s-in-a-jvm-application.html
  how-to-jvm-setup/use-the-global-opentelemetry-instance.html
  how-to-metrics/customize-histogram-buckets.html
  how-to-metrics/index.html
  how-to-metrics/record-application-metrics.html
  how-to-metrics/register-cats-effect-runtime-metrics.html
  how-to-metrics/register-jvm-runtime-metrics.html
  how-to-tracing/create-spans-around-effectful-code.html
  how-to-tracing/index.html
  how-to-tracing/propagate-trace-context-across-service-boundaries.html
  how-to-tracing/trace-resource-and-fs2-stream-code.html
  how-to-tracing/use-otel4s-with-java-instrumented-libraries.html
  how-to-tracing/use-unmanaged-spans-when-a-span-must-end-outside-its-scope.html
  how-to-tracing/work-with-baggage.html
  index.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/overview.html
  oteljava/testkit-logs.html
  oteljava/testkit-metrics.html
  oteljava/testkit-traces.html
  oteljava/testkit.html
  oteljava/tracing-java-interop.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs

docs: add "Use the otel4s Java agent" how-to page
  build.sbt
  docs/explanations/directory.conf
  docs/explanations/how-otel4s-context-works-with-the-otel4s-java-agent.md
  docs/how-to-jvm-setup/directory.conf
  docs/how-to-jvm-setup/index.md
  docs/how-to-jvm-setup/keep-otel4s-context-in-sync-with-opentelemetry-java.md
  docs/how-to-jvm-setup/use-the-global-opentelemetry-instance.md
  docs/how-to-jvm-setup/use-the-otel4s-java-agent.md
  docs/oteljava/agent.md
  docs/oteljava/directory.conf
Due: Label documentation PRs

Improve wording, tighten the context
  docs/explanations/how-otel4s-context-works-with-the-otel4s-java-agent.md
  docs/how-to-jvm-setup/use-the-otel4s-java-agent.md
  docs/oteljava/overview.md
Due: Label documentation PRs

docs: remove stale link
  docs/how-to-tracing/work-with-baggage.md
Due: Label documentation PRs

deploy: f7348736afad58a50ab3e0c8e5ead29b9ed588c0
  ecosystem.html
  examples/dash0/index.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  explanations/choosing-parent-spans-and-tracing-scopes.html
  explanations/histogram-bucket-customization-with-views.html
  explanations/how-otel4s-context-works-with-the-otel4s-java-agent.html
  explanations/tracing-resource-and-fs2-stream-scopes.html
  how-to-jvm-setup/index.html
  how-to-jvm-setup/keep-otel4s-context-in-sync-with-opentelemetry-java.html
  how-to-jvm-setup/use-the-global-opentelemetry-instance.html
  how-to-jvm-setup/use-the-otel4s-java-agent.html
  how-to-metrics/customize-histogram-buckets.html
  how-to-metrics/record-application-metrics.html
  how-to-metrics/register-cats-effect-runtime-metrics.html
  how-to-metrics/register-jvm-runtime-metrics.html
  how-to-tracing/create-spans-around-effectful-code.html
  how-to-tracing/index.html
  how-to-tracing/propagate-trace-context-across-service-boundaries.html
  how-to-tracing/trace-resource-and-fs2-stream-code.html
  how-to-tracing/use-otel4s-with-java-instrumented-libraries.html
  how-to-tracing/use-unmanaged-spans-when-a-span-must-end-outside-its-scope.html
  how-to-tracing/work-with-baggage.html
  index.html
  instrumentation/logs.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/semantic-conventions.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/overview.html
  oteljava/testkit-logs.html
  oteljava/testkit-metrics.html
  oteljava/testkit-traces.html
  oteljava/testkit.html
  oteljava/tracing-java-interop.html
  sdk/overview.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

docs: move "Tracing context propagation" to explanations
  docs/directory.conf
  docs/explanations/directory.conf
  docs/explanations/how-otel4s-context-propagation-works.md
  docs/how-to-tracing/index.md
  docs/instrumentation/logs.md
  docs/tracing-context-propagation.md
Due: Label documentation PRs
